.networkWrap {
  display: block;
  margin-top: -1rem;
}

.grid {
  display: grid;
  gap: calc(var(--spacer) * 1.5);
  position: relative;
  margin-top: -1rem;
}

.grid > div {
  overflow: hidden;
}

.content {
  composes: box from '@shared/atoms/Box.module.css';
  margin-top: var(--spacer);
  position: relative;
}

@media (min-width: 60rem) {
  .grid {
    grid-template-columns: 1.5fr 1fr;
  }

  .actions {
    margin-top: var(--spacer);
  }
}

.ownerActions {
  text-align: center;
  margin-top: var(--spacer);
  margin-bottom: calc(var(--spacer) * 1.5);
  margin-left: -2rem;
  margin-right: -2rem;
  padding: calc(var(--spacer) / 4) var(--spacer);
  border-top: 1px solid var(--border-color);
  border-bottom: 1px solid var(--border-color);
}

.ownerActions a,
.ownerActions button {
  color: var(--color-secondary);
  margin-left: calc(var(--spacer) / 4);
  margin-right: calc(var(--spacer) / 4);
}

.separator {
  color: var(--color-secondary);
}
