.feedback {
  width: 100%;
  min-height: 40vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.box {
  composes: box from '../../atoms/Box.module.css';
  width: 100%;
}

.feedback h3 {
  font-size: var(--font-size-large);
  text-align: center;
  margin-bottom: calc(var(--spacer) / 2);
}

.feedback h3 + div {
  text-align: left;
}

@media (min-width: 40rem) {
  .feedback {
    max-width: 30rem;
    margin: 0 auto;
  }
}

.action {
  margin-top: calc(var(--spacer) / 1.5);
}
