.preview {
  font-size: var(--font-size-small);
  margin-bottom: var(--spacer);
}

.preview header {
  margin-bottom: var(--spacer);
}

.metaFull {
  display: grid;
  gap: var(--spacer);
  grid-template-columns: 1fr 1fr;
}

.previewTitle {
  font-size: var(--font-size-small);
  text-transform: uppercase;
  color: var(--color-secondary);
  margin-bottom: calc(var(--spacer) / 2);
}

.title {
  margin-bottom: calc(var(--spacer) / 2);
}

.preview [class*='MetaItem-module--metaItem'] h3 {
  margin-bottom: calc(var(--spacer) / 12);
}

.file {
  margin-bottom: calc(var(--spacer) / 2);
}
