.tabElement,
button.tabElement,
.tabElement:hover,
.tabElement:active,
.tabElement:focus {
  border: 1px solid var(--border-color);
  text-transform: uppercase;
  border-radius: var(--border-radius);
  margin-right: calc(var(--spacer) / 6);
  margin-bottom: calc(var(--spacer) / 6);
  color: var(--color-secondary);
  background: var(--background-body);

  /* the only thing not possible to overwrite button style="text" with more specifity of selectors, so sledgehammer */
  padding: calc(var(--spacer) / 5) !important;
}

.tabElement:hover,
.tabElement:focus {
  color: var(--font-color-text);
  background: inherit;
  transform: none;
}

.tabElement.selected {
  color: var(--background-body);
  background: var(--font-color-text);
  border-color: var(--background-body);
}
