.selection {
  padding: 0;
  border: 1px solid var(--border-color);
  background-color: var(--background-highlight);
  border-radius: var(--border-radius);
  margin-bottom: calc(var(--spacer) / 2);
  font-size: var(--font-size-small);
}

.scroll {
  border-top: 1px solid var(--border-color);
  margin-top: calc(var(--spacer) / 4);
  min-height: 200px;
  max-height: 300px;
  position: relative;
  /* smooth overflow scrolling for pre-iOS 13 */
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

.row {
  display: flex;
  align-items: center;
  border-bottom: 1px solid var(--border-color);
  padding: calc(var(--spacer) / 3) calc(var(--spacer) / 4);
}

.content {
  display: flex;
  align-items: center;
  width: 100%;
  margin-top: calc(var(--spacer) / 10);
}

.label {
  display: block;
  width: 100%;
}

.input {
  align-self: flex-start;
  min-width: 1.2rem;
  margin-top: 0;
  margin-left: 0;
  margin-right: calc(var(--spacer) / 4);
}

.radio {
  composes: radio from '../../atoms/Input/InputElement.module.css';
}

.checkbox {
  composes: checkbox from '../../atoms/Input/InputElement.module.css';
}

.title {
  font-size: var(--font-size-small);
  margin-top: calc(var(--spacer) / 12);
  margin-bottom: calc(var(--spacer) / 12);
}

.link {
  display: inline-block;
  margin-left: calc(var(--spacer) / 8);
}

.link svg {
  margin: 0;
  fill: var(--color-primary);
  width: 0.7em;
  height: 0.7em;
}

.footer {
  display: flex;
  gap: var(--spacer);
  justify-content: space-between;
  margin-top: calc(var(--spacer) / 12);
}

.price {
  white-space: pre;
  font-size: var(--font-size-small) !important;
}

.search {
  margin: calc(var(--spacer) / 4);
  width: calc(100% - calc(var(--spacer) / 2));
}

.did {
  padding: 0;
  font-size: var(--font-size-mini);
  display: block;
  text-align: left;
  color: var(--color-secondary);
}
