.boxSelectionsWrapper {
  display: flex;
  justify-content: space-between;
  gap: 0 calc(var(--spacer) / 4);
}

.boxSelectionsWrapper > div {
  width: 100%;
}

.boxSelection {
  display: block;
  flex: 1 1 0px;
  padding: calc(var(--spacer) / 3) calc(var(--spacer) / 2)
    calc(var(--spacer) / 4) calc(var(--spacer) / 2) !important;
  border-radius: var(--border-radius);
  border: 1px solid var(--border-color);
  color: var(--color-secondary);
  cursor: pointer;
}

.disabled {
  pointer-events: none;
  opacity: 0.5;
}

.title {
  font-weight: var(--font-weight-bold);
  text-align: center;
}

.radio {
  position: fixed;
  opacity: 0;
  pointer-events: none;
}

.boxSelection svg {
  width: var(--font-size-h4);
  height: var(--font-size-h4);
  fill: currentColor;
  margin-bottom: calc(var(--spacer) / 5);
}

.boxSelection {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  color: var(--color-secondary);
  font-weight: normal;
}

.radio:checked + .boxSelection {
  color: var(--font-color-text);
  border-color: var(--color-secondary);
}
