.boxSelectionsWrapper {
  display: flex;
  justify-content: space-between;
}

.boxSelection {
  display: block;
  flex: 0 0 48%;
  padding: calc(var(--spacer) / 3) calc(var(--spacer) / 2)
    calc(var(--spacer) / 4) calc(var(--spacer) / 2) !important;
  border-radius: var(--border-radius);
  border: 1px solid var(--border-color);
  color: var(--color-secondary);
}

.boxSelection input[type='radio'] {
}

.boxSelection.selected {
  color: var(--font-color-text);
  border-color: var(--color-secondary);
}

.boxSelection svg {
  width: var(--font-size-h4);
  height: var(--font-size-h4);
  fill: currentColor;
  margin-bottom: calc(var(--spacer) / 5);
}

.boxSelection label {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
