.input {
  font-size: var(--font-size-base);
  font-family: var(--font-family-base);
  font-weight: var(--font-weight-bold);
  color: var(--font-color-heading);
  border: 1px solid var(--border-color);
  box-shadow: none;
  width: 100%;
  background: var(--background-body);
  padding: calc(var(--spacer) / 3);
  margin: 0;
  border-radius: var(--border-radius);
  transition: 0.2s ease-out;
  height: 43px;
  min-width: 0;
  appearance: none;
  display: block;
}

.input:focus {
  border-color: var(--font-color-text);
  box-shadow: none;
  outline: 0;
}

.input::placeholder {
  font-family: var(--font-family-base);
  font-size: var(--font-size-base);
  color: var(--color-secondary);
  font-weight: var(--font-weight-base);
  transition: 0.2s ease-out;
  opacity: 0.7;
}

.label {
  margin: 0;
  padding: 0;
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-small);
  color: var(--font-color-text);
  padding-left: 0.5rem;
}

.checkbox {
  composes: input;
  position: relative;
  padding: 0;
  width: 18px;
  height: 18px;
  min-height: 0;
  display: inline-block;
  vertical-align: middle;
  margin-top: -2px;
}

.checkbox::after {
  content: '';
  display: block;
  left: 0;
  top: 0;
  position: absolute;
  opacity: 0;
  transition: transform 0.3s ease-out, opacity 0.2s;
}

.checkbox:checked {
  border-color: var(--color-primary);
  background: var(--color-primary);
}

.checkbox:focus {
  box-shadow: 0 0 0 var(--color-primary);
}

.checkbox:checked::after {
  opacity: 1;
}

.checkbox::after {
  width: 6px;
  height: 9px;
  border: 2px solid var(--brand-white);
  border-top: 0;
  border-left: 0;
  left: 5px;
  top: 2px;
  transform: rotate(40deg);
}
