.pricing {
  composes: box from '../../../atoms/Box.module.css';
  padding: 0;
  padding-bottom: var(--spacer);
  margin-top: var(--spacer);
}

.pricing [class*='alert'] {
  margin: var(--spacer);
  margin-bottom: 0;
}
