.results {
  composes: asset from './Details.module.css';
  border-bottom-left-radius: var(--border-radius) !important;
}

.results li {
  list-style-type: none;
}

.help {
  margin-top: calc(var(--spacer) / 3);
}
