.addInput {
  margin: 0 auto calc(var(--spacer) / 1.5) auto;
  background: var(--brand-grey-dimmed);
  padding: var(--spacer) calc(var(--spacer) * 2.5) calc(var(--spacer) * 1.2)
    calc(var(--spacer) * 2.5);
  border-bottom: 1px solid var(--brand-grey-lighter);
  margin-top: -2rem;
  margin-left: -2rem;
  margin-right: -2rem;
  position: relative;
}

.addInput input {
  text-align: center;
}

.addInput div[class*='field'] {
  margin-bottom: 0;
}

.output {
  display: grid;
  gap: var(--spacer);
  grid-template-columns: 1fr 1fr;
}

.output p {
  font-weight: var(--font-weight-bold);
  margin-bottom: calc(var(--spacer) / 8);
}

.output [class*='token'] {
  white-space: normal;
}

.output [class*='token'] > figure {
  display: none;
}

.warning {
  margin-left: -2rem;
  margin-right: -2rem;
}
