.gridContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  background: var(--background-body);
}

.gridContainer > div {
  overflow: hidden;
}

.profileInfoGrid {
  display: grid;
  grid-template-columns: 0.2fr 1.8fr;
  grid-gap: 10px;
}

.statisticsOverviewGrid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 3px;
  margin-top: calc(var(--spacer) / 2);
  width: 90%;
}

.statisticsGrid {
  display: grid;
  grid-template-columns: 0.4fr 0.6fr;
  grid-gap: 2px;
  align-content: center;
  grid-auto-flow: column;
}

.image {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  overflow: hidden;
  display: inline-block;
  margin-bottom: calc(var(--spacer) / 4);
  border: 1px solid var(--border-color);
  box-shadow: 0 6px 17px 0 var(--box-shadow-color);
}

.image path {
  fill: var(--font-color-heading);
}

.infoSection {
  border-right: 1px solid var(--border-color);
}

.name {
  font-size: var(--font-size-title);
  margin-bottom: calc(var(--spacer) / 8);
}

.liquidity {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.liquidity [class*='Conversion-module--'] {
  margin-bottom: calc(var(--spacer) / 8);
  margin: auto;
}

.statisticsValues {
  font-size: var(--font-size-large);
  color: var(--font-color-heading);
  font-weight: var(--font-weight-bold);
  margin: auto;
  margin-left: 0px;
}

.statisticsImages {
  width: 30px;
  max-width: unset;
  margin: auto;
  margin-left: 0px;
}

.statiscsLabel {
  margin-left: 0px;
  margin-top: calc(var(--spacer) / 4);
  color: var(--color-secondary);
}

.descriptionLabel {
  color: var(--color-secondary);
  font-size: var(--font-size-large);
  font-weight: var(--font-weight-bold);
}

.description {
  color: var(--color-secondary);
  font-size: var(--font-size-small);
}

.profileInfoGrid code {
  padding: 0;
  color: var(--color-secondary);
  font-size: var(--font-size-small);
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
}
