.buttons {
  composes: buttons from './Appearance.module.css';
}

.button {
  composes: button from './Appearance.module.css';
}

.button span {
  display: block;
  font-size: var(--font-size-small);
  font-family: var(--font-family-base);
  font-weight: var(--font-weight-base);
  margin-top: calc(var(--spacer) / 10);
}

.selected {
  composes: selected from './Appearance.module.css';
}

.chains div[class*='boxSelectionsWrapper'] {
  display: grid;
  gap: calc(var(--spacer) / 4);
  grid-template-columns: repeat(auto-fit, minmax(6rem, 1fr));
  padding-bottom: calc(var(--spacer) / 8);
}

.chains label[class*='boxSelection'] {
  padding: calc(var(--spacer) / 3) calc(var(--spacer) / 4) !important;
}
