.buttons {
  composes: buttons from './Appearance.module.css';
}

.button {
  composes: button from './Appearance.module.css';
}

.button span {
  display: block;
  font-size: var(--font-size-small);
  font-family: var(--font-family-base);
  font-weight: var(--font-weight-base);
  margin-top: calc(var(--spacer) / 10);
}

.selected {
  composes: selected from './Appearance.module.css';
}
