.token {
  font-weight: var(--font-weight-bold);
  white-space: nowrap;
}

.symbol {
  font-weight: var(--font-weight-base);
  color: var(--color-secondary);
  font-size: var(--font-size-base);
}

.icon {
  display: inline-block;
  border: 1px solid var(--border-color);
  border-radius: 50%;
  padding: 0.3rem;
  vertical-align: middle;
  margin-right: calc(var(--spacer) / 8);
  margin-top: -0.2rem;
  background: var(--background-body);
}

.icon svg {
  width: var(--font-size-base);
  height: var(--font-size-base);
}

.conversion {
  composes: token;
  margin-bottom: 0;
  font-weight: var(--font-weight-base) !important;
  font-size: var(--font-size-small);
  padding-left: var(--font-size-base);
  padding-top: calc(var(--spacer) / 10);
}

.conversion strong {
  font-size: var(--font-size-base);
  color: var(--font-color-heading);
  line-height: 1;
}

/* Data Token Icon Style */
.icon:not([class*='OCEAN']) path {
  fill: var(--brand-violet);
}

.noIcon {
  opacity: 0;
}

.token.mini {
  font-size: var(--font-size-mini);
}
