.content {
  padding: 0;
}

.content label {
  color: var(--color-secondary);
}

.content input {
  text-align: center;
}

.content p {
  margin-bottom: 0;
}

.content [class*='error'] {
  text-align: left;
  top: 100%;
}

.conversion {
  width: 100%;
  display: block;
  text-align: center;
  margin-top: calc(var(--spacer) / 6);
}

.help {
  text-align: center;
  margin-bottom: calc(var(--spacer) / 1.5);
}

.actions {
  text-align: center;
}

.actions button {
  margin-left: calc(var(--spacer) / 2);
  margin-right: calc(var(--spacer) / 2);
}

.actionsHelp {
  margin-top: calc(var(--spacer) / 2);
  padding-left: var(--spacer);
  padding-right: var(--spacer);
}

.free {
  text-align: center;
  margin-bottom: calc(var(--spacer) / 1.5);
}
