.output {
  border-top: 1px solid var(--border-color);
  padding:  calc(var(--spacer) / 2) var(--spacer);
  display: grid;
  gap: var(--spacer);
  grid-template-columns: 1fr 1fr;
  margin-left: -2rem;
  margin-right: -2rem;
}

.output p {
  font-weight: var(--font-weight-bold);
  margin-bottom: calc(var(--spacer) / 8);
  font-size: var(--font-size-small);
}

.output [class*='token'] {
  white-space: normal;
}

.output [class*='token'] > figure {
  display: none;
}
