.priceImpact {
  font-size: var(--font-size-small);
  border-top: 1px solid var(--border-color);
  margin-left: -2rem;
  margin-right: -2rem;
  padding: calc(var(--spacer) / 4) var(--spacer);
  color: var(--color-secondary);
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: calc(var(--spacer) / 3);
}

.priceImpact strong {
  font-weight: var(--font-weight-base);
  text-align: right;
}

.alert {
  color: var(--brand-alert-red);
}

.number {
  font-weight: var(--font-weight-bold);
}
