.swapButton,
.swapButton:hover {
  padding: 0;
  display: block;
  width: calc(100% + 4rem);
  text-align: center;
  margin-left: -2rem;
  margin-right: -2rem;
  border-top: 1px solid var(--border-color);
  border-bottom: 1px solid var(--border-color);
  padding: calc(var(--spacer) / 3) 0 calc(var(--spacer) / 6) 0;
}

.swapButton svg {
  display: inline-block;
  width: var(--font-size-large);
  height: var(--font-size-large);
  fill: var(--brand-pink);
  transform: rotate(90deg);
}

.output {
  display: grid;
  gap: var(--spacer);
  grid-template-columns: 1fr 1fr;
}

.output p {
  font-weight: var(--font-weight-bold);
  margin-bottom: calc(var(--spacer) / 8);
}

.output [class*='token'] {
  white-space: normal;
}

.output [class*='token'] > figure {
  display: none;
}
