.swap {
  padding: var(--spacer) calc(var(--spacer) * 1.5);
}

.swapButton {
  padding: 0;
  display: block;
  width: 100%;
  text-align: center;
  margin-top: var(--spacer);
  margin-bottom: var(--spacer);
}

.swapButton svg {
  display: inline-block;
  width: var(--font-size-large);
  height: var(--font-size-large);
  fill: var(--brand-pink);
  transform: rotate(90deg);
  margin-top: calc(var(--spacer) / 2);
  margin-bottom: calc(var(--spacer) / 2);
}

.swapButton span {
  display: block;
  color: var(--font-color-text);
}
