.swap {
  padding: var(--spacer) calc(var(--spacer) * 1.5);
}

.swapButton,
.swapButton:hover {
  padding: 0;
  display: block;
  width: calc(100% + 10rem);
  text-align: center;
  margin: var(--spacer) -5rem calc(var(--spacer) / 2) -5rem;
  border-top: 1px solid var(--border-color);
  border-bottom: 1px solid var(--border-color);
  padding: calc(var(--spacer) / 3) 0 calc(var(--spacer) / 6) 0;
}

.swapButton svg {
  display: inline-block;
  width: var(--font-size-large);
  height: var(--font-size-large);
  fill: var(--brand-pink);
  transform: rotate(90deg);
}
