.buttonMax {
    position: absolute;
    font-size: var(--font-size-mini);
    bottom: calc(var(--spacer) / 2);
    right: calc(var(--spacer) * 2.5);
  }
  
  .userLiquidity > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: var(--font-size-mini);
    color: var(--color-secondary);
  }
  
  .userLiquidity > div:last-child {
    margin-bottom: calc(var(--spacer) / 4);
  }
  
  .userLiquidity span + div {
    transform: scale(0.8);
    transform-origin: right center;
  }
  