.tradeInput {
  position: relative;
  padding: calc(var(--spacer) / 2) calc(var(--spacer) * 2) var(--spacer)
    calc(var(--spacer) * 2);
  margin-left: -2rem;
  margin-right: -2rem;
  background: var(--background-highlight);
}

.tradeInput input {
  text-align: center;
}

.tradeInput div[class*='field'] {
  margin-bottom: 0;
}

.label {
  font-family: var(--font-family-heading);
  font-size: var(--font-size-base);
  text-align: center;
  display: block;
}

.buttonMax {
  position: absolute;
  font-size: var(--font-size-mini);
  bottom: calc(var(--spacer) / 2);
  right: calc(var(--spacer) * 2);
}

.userLiquidity > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: var(--font-size-mini);
  color: var(--color-secondary);
}

.userLiquidity span + div {
  transform: scale(0.8);
  transform-origin: right center;
}
