{
  "extends": ["eslint:recommended", "prettier"],
  "parserOptions": {
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "env": {
    "browser": true,
    "node": true,
    "es2020": true,
    "jest": true
  },
  "settings": {
    "react": {
      "version": "detect"
    }
  },
  "overrides": [
    {
      "files": ["**/*.ts", "**/*.tsx"],
      "parser": "@typescript-eslint/parser",
      "parserOptions": {
        "project": ["./tsconfig.json"]
      },
      "extends": [
        "oceanprotocol",
        "oceanprotocol/react",
        "plugin:@typescript-eslint/eslint-recommended",
        "plugin:@typescript-eslint/recommended",
        "plugin:prettier/recommended",
        "plugin:react-hooks/recommended",
        "plugin:testing-library/react",
        "plugin:jest-dom/recommended"
      ],
      "plugins": [
        "@typescript-eslint",
        "prettier",
        "testing-library",
        "jest-dom"
      ],
      "rules": {
        "react/prop-types": "off",
        "react/no-unused-prop-types": "off",
        "react/jsx-no-bind": "off",
        "@typescript-eslint/explicit-function-return-type": "off",
        "no-use-before-define": "off",
        "@typescript-eslint/no-use-before-define": "error",
        "prefer-destructuring": [
          "error",
          {
            "object": true,
            "array": false
          }
        ]
      }
    }
  ]
}
