node_modules
out
.DS_Store
.idea
.env
coverage
.cache
.next
.artifacts
.vercel
repo-metadata.json
networks-metadata.json
src/@types/subgraph
src/@types/apollo/
graphql.schema.json
src/@types/graph.types.ts
tsconfig.tsbuildinfo
__snapshots__
storybook-static