.graphWrap {
  composes: container from '../Section/index.module.css';

  padding: 0;
  grid-column: full;
  min-height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: calc(var(--spacer) / 2);
  position: relative;
}

.graphWrap canvas {
  position: relative;
  z-index: 0;
}
