.emojiToolTip {
  position: absolute;
  padding: calc(var(--spacer) / 4.5) calc(var(--spacer) / 3);
  cursor: pointer;
  white-space: nowrap;
  top: 0;
  right: 0;
  width: auto !important;
}
.icon {
  position: relative;
  font-size: var(--font-size-title);
  color: var(--font-color-text);
  fill: currentColor;
}
.icon:hover,
.icon:focus {
  color: var(--color-primary);
  fill: currentColor;
}
