.output {
  padding-bottom: calc(var(--spacer) / 2);
}

.output p {
  font-weight: var(--font-weight-bold);
  margin-bottom: calc(var(--spacer) / 8);
  font-size: var(--font-size-small);
}

.help {
  text-align: center;
}
