.form {
  composes: box from '../../../atoms/Box.module.css';
}

.actions {
  border-top: 1px solid var(--border-color);
  padding-top: var(--spacer);
  display: flex;
  justify-content: space-between;
}
