.dataToken {
  font-size: var(--font-size-large);
  text-align: center;
}

.dataToken > div {
  display: block;
}

.dataTokenLinks {
  display: flex;
  justify-content: center;
  font-size: var(--font-size-small);
  margin-top: calc(var(--spacer) / 4);
}

.dataTokenLinks a {
  margin-left: calc(var(--spacer) / 3);
  margin-right: calc(var(--spacer) / 3);
}

.fees {
  border-top: none;
  padding-top: 0;
  margin-top: -0.5rem;
}

.fees > div {
  grid-template-columns: repeat(auto-fit, minmax(5rem, 1fr));
  text-align: center;
}

.fees figure {
  display: none;
}
