.consume {
  width: auto;
  margin-bottom: calc(var(--spacer) / 2);
  margin-top: -1rem;
  margin-left: -2rem;
}

.info {
  display: flex;
  width: auto;
  padding: 0 calc(var(--spacer) / 2) 0 calc(var(--spacer) * 1.5);
}

.filewrapper {
  flex-shrink: 0;
}

.feedback {
  width: 100%;
  margin-top: calc(var(--spacer));
}

.icon {
  fill: var(--color-secondary);
  transition: 0.15s ease-out;
  width: 10px;
  height: 10px;
}

.button:hover .icon {
  fill: var(--font-color-text);
}

.copied .icon,
.button.copied:hover .icon {
  fill: var(--brand-alert-green);
}

.action {
  display: flex;
  gap: 5px;
}

.copyfeedback {
  font-size: var(--font-size-mini);
  color: var(--brand-alert-green);
  margin-top: -11rem;
  margin-left: 12rem;
}
