.consume {
  width: auto;
  margin-bottom: calc(var(--spacer) / 2);
  margin-top: -1rem;
}

.info {
  display: flex;
  width: auto;
  padding: 0 calc(var(--spacer) / 2) 0 calc(var(--spacer) * 1.5);
}

.filewrapper {
  flex-shrink: 0;
}

.feedback {
  width: 100%;
  margin-top: calc(var(--spacer));
}
