.consume {
  width: auto;
  margin-bottom: calc(var(--spacer) / 2);
}

.info {
  display: flex;
  width: auto;
}

.filewrapper {
  flex-shrink: 0;
  margin-right: calc(var(--spacer) / 3);
}

.feedback {
  width: 100%;
  margin-top: calc(var(--spacer));
}
