.title {
  font-size: var(--font-size-base);
  margin-top: var(--spacer);
  margin-bottom: 0;
  color: var(--color-secondary);
  padding-bottom: calc(var(--spacer) / 4);
}

.tokens {
  display: grid;
  border: 1px solid var(--border-color);
  background: var(--background-highlight);
  border-radius: var(--border-radius);
}

@media screen and (min-width: 40rem) {
  .tokens {
    grid-template-columns: 1fr 1fr;
  }
}

.summary {
  margin-top: var(--spacer);
}

.alertArea {
  padding: 0 calc(var(--spacer) / 2);
}
