.wallet {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: calc(var(--spacer) / 2);
}

.balance {
  text-align: center;
  font-size: var(--font-size-small) !important;
  border: 1px solid var(--border-color);
  border-right: 0;
  margin-right: -3px;
  height: 35px;
  padding: calc(var(--spacer) / 3) calc(var(--spacer) / 2)
    calc(var(--spacer) / 4.5) calc(var(--spacer) / 2);
  border-top-left-radius: var(--border-radius);
  border-bottom-left-radius: var(--border-radius);
  color: var(--color-secondary);
  display: flex;
  align-items: center;
}

.title {
  font-size: var(--font-size-base);
  margin-top: var(--spacer);
  margin-bottom: 0;
  color: var(--color-secondary);
  text-align: center;
  padding-bottom: calc(var(--spacer) / 3);
}

.tokens {
  display: grid;

  margin-left: -2rem;
  margin-right: -2rem;
  border-bottom: 1px solid var(--border-color);
  background: var(--background-highlight);
}

@media screen and (min-width: 40rem) {
  .tokens {
    grid-template-columns: 1fr 1fr;
    margin-left: -4rem;
    margin-right: -4rem;
  }
}

.summary {
  margin-top: var(--spacer);
}

.alertArea {
  margin-left: -2rem;
  margin-right: -2rem;
  padding: 0 calc(var(--spacer) / 2);
}
