.fees {
  display: grid;
  gap: var(--spacer);
  grid-template-columns: repeat(auto-fit, minmax(7rem, 1fr));
  padding: var(--spacer) 0;
  text-align: center;
}

.fees > div {
  margin-bottom: 0;
  justify-self: start;
}

.fees label {
  white-space: nowrap;
}

.fees input {
  max-width: 5rem;
}

@media screen and (min-width: 25rem) {
  .fees {
    grid-template-columns: repeat(auto-fit, minmax(8rem, 1fr));
    padding: var(--spacer);
  }
}
