.pricing input {
  text-align: center;
}

.pricing ul > li[class*='Tabs_tab'] {
  padding: calc(var(--spacer) / 4) var(--spacer);
}

.pricing [class*='Tabs_tabContent'] {
  padding-left: 0;
  padding-right: 0;
}

.title {
  font-size: var(--font-size-base);
  margin-top: var(--spacer);
  margin-bottom: 0;
  padding-bottom: calc(var(--spacer) / 4);
}
