.price {
  background: var(--background-highlight);
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);
  padding: calc(var(--spacer) / 1.5) calc(var(--spacer) / 2);
}

.form {
  display: flex;
  justify-content: center;
  align-items: center;
}

.inputWrap {
  position: relative;
  max-width: 15rem;
}

.inputWrap > div {
  margin-bottom: 0;
}

.fixed label {
  display: none;
}

.datatoken {
  font-size: var(--font-size-base);
  color: var(--color-secondary);
  margin: 0;
  margin-left: calc(var(--spacer) / 2);
}

.datatoken strong {
  color: var(--font-color-text);
}

.conversion strong {
  color: var(--color-secondary);
}

.free {
  text-align: left;
  font-size: var(--font-size-base);
}

.free [class*='FormInput_field'],
.free [class*='InputRadio_radioGroup'] {
  margin: 0;
}
