.actions {
  margin-left: -2rem;
  margin-right: -2rem;
  padding-left: var(--spacer);
  padding-right: var(--spacer);
  margin-top: calc(var(--spacer) / 4);
  padding-top: calc(var(--spacer) / 1.5);
  border-top: 1px solid var(--border-color);
  text-align: center;
  display: flex;
  justify-content: center;
}

.actions + div {
  margin-top: calc(var(--spacer) / 2);
  margin-bottom: calc(var(--spacer) / 2);
}

.actions button {
  margin-left: calc(var(--spacer) / 4);
  margin-right: calc(var(--spacer) / 4);
}
