.addInput {
  margin: 0 auto calc(var(--spacer) / 1.5) auto;
  background: var(--brand-grey-dimmed);
  padding: var(--spacer) calc(var(--spacer) * 3) calc(var(--spacer) * 1.2)
    calc(var(--spacer) * 3);
  border-bottom: 1px solid var(--brand-grey-lighter);
  margin-top: -2rem;
  margin-left: -2rem;
  margin-right: -2rem;
  position: relative;
}

.addInput input {
  text-align: center;
}

.buttonMax {
  position: absolute;
  font-size: var(--font-size-mini);
  bottom: calc(var(--spacer) / 2);
  right: calc(var(--spacer) * 3);
}

.userLiquidity {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: var(--font-size-mini);
  margin-bottom: calc(var(--spacer) / 4);
  color: var(--color-secondary);
}

.userLiquidity span + div {
  transform: scale(0.8);
  transform-origin: right center;
}

.coinswitch,
.coinPopover li {
  cursor: pointer;
}

.coinswitch svg {
  width: 0.6em;
  height: 0.6em;
  display: inline-block;
  fill: currentColor;
  margin-right: 0.5rem;
  margin-left: 0.25rem;
}

.coinPopover li {
  padding: calc(var(--spacer) / 4) calc(var(--spacer) / 2);
}

.output {
  display: grid;
  gap: var(--spacer);
  grid-template-columns: 1fr 1fr;
}

.output p {
  font-weight: var(--font-weight-bold);
  margin-bottom: calc(var(--spacer) / 8);
}

.output [class*='token'] {
  white-space: normal;
}

.output [class*='token'] > figure {
  display: none;
}
