.coinSelect {
  composes: select from '../../../atoms/Input/InputElement.module.css';
  font-size: var(--font-size-small);
  border: none;
  margin-left: -0.5rem;
  margin-right: -0.5rem;
  background-color: var(--brand-grey-dimmed);
  width: auto;
  padding: 0 1.25rem 0 0.25rem;
  height: 41px;
  text-align: center;

  /* custom arrow, without the divider line */
  background-image: linear-gradient(
      45deg,
      transparent 50%,
      var(--brand-purple) 50%
    ),
    linear-gradient(135deg, var(--brand-grey) 50%, transparent 50%);
  background-position: calc(100% - 14px) 1.2rem, calc(100% - 9px) 1.2rem, 100% 0;
}

.option {
  color: var(--brand-grey-dark);
}
