.dataToken {
  padding-bottom: calc(var(--spacer) / 1.5);
  font-size: var(--font-size-large);
  border-bottom: 1px solid var(--brand-grey-lighter);
  margin-left: -2rem;
  margin-right: -2rem;
  padding-left: calc(var(--spacer) / 1.5);
  padding-right: calc(var(--spacer) / 1.5);
  text-align: center;
}

.dataTokenLinks {
  display: flex;
  justify-content: center;
  font-size: var(--font-size-small);
  margin-top: calc(var(--spacer) / 4);
}

.dataTokenLinks a {
  margin-left: calc(var(--spacer) / 3);
  margin-right: calc(var(--spacer) / 3);
}

.totalLiquidity {
  composes: token from './Token.module.css';
  margin-bottom: 0;
  font-weight: var(--font-weight-base) !important;
  font-size: var(--font-size-small);
  padding-left: var(--font-size-base);
  min-height: 24px;
}

.totalLiquidity strong {
  font-size: var(--font-size-base);
  color: var(--brand-grey-dark);
  line-height: 1;
}
