.container {
  margin-left: -2rem;
  margin-right: -2rem;
  padding-left: calc(var(--spacer) / 1.5);
  padding-right: calc(var(--spacer) / 1.5);
}

.dataToken {
  composes: container;
  padding-bottom: calc(var(--spacer) / 1.5);
  font-size: var(--font-size-large);
  text-align: center;
  position: relative;
}

.dataTokenLinks {
  display: flex;
  justify-content: center;
  font-size: var(--font-size-small);
  margin-top: calc(var(--spacer) / 4);
}

.dataTokenLinks a {
  margin-left: calc(var(--spacer) / 3);
  margin-right: calc(var(--spacer) / 3);
}

.title {
  font-size: var(--font-size-base);
  margin-bottom: calc(var(--spacer) / 3);
  color: var(--color-secondary);
}

.titleInfo {
  font-size: var(--font-size-mini);
  font-family: var(--font-family-base);
  font-weight: var(--font-weight-base);
  display: inline-block;
  margin-left: 0.3rem;
}

.update {
  composes: container;
  font-size: var(--font-size-mini);
  color: var(--color-secondary);
  text-align: center;
  border-top: 1px solid var(--border-color);
  padding-top: calc(var(--spacer) / 4);
  padding-bottom: calc(var(--spacer) / 4);
}

.update:before {
  content: '';
  width: 6px;
  height: 6px;
  border-radius: 50%;
  display: inline-block;
  border: 1px solid var(--brand-alert-green);
  margin-right: 0.2rem;
  margin-top: -0.1rem;
  vertical-align: middle;
  animation: pulse 2s ease-in-out infinite;
}

@keyframes pulse {
  0% {
    background: transparent;
  }
  50% {
    background: var(--brand-alert-green);
  }
  100% {
    background: transparent;
  }
}
