.removeInput {
  composes: addInput from './Add.module.css';
  padding-left: calc(var(--spacer) * 2);
  padding-right: calc(var(--spacer) * 2);
  padding-bottom: calc(var(--spacer) / 2);
}

.userLiquidity {
  composes: userLiquidity from './Add.module.css';
}

.range {
  text-align: center;
}

.range h3 {
  margin-bottom: calc(var(--spacer) / 4);
}

.range input {
  width: 100%;
}

.range p {
  margin-bottom: 0;
  margin-left: -2rem;
  margin-right: -2rem;
}

.range button {
  margin-top: calc(var(--spacer) / 4);
  margin-bottom: 0;
}
