.removeInput {
  composes: addInput from './Add.module.css';
}

.buttonMax {
  composes: buttonMax from './Add.module.css';
  bottom: -1rem;
  right: 0;
}

.userLiquidity {
  composes: userLiquidity from './Add.module.css';
}

.range {
  text-align: center;
}

.range h3 {
  margin-bottom: calc(var(--spacer) / 4);
}

.range input {
  width: 100%;
}
