.tokeninfo {
  padding-top: calc(var(--spacer) / 1.5);
}

.tokens {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-flow: row;
}

.title {
  font-size: var(--font-size-base);
  margin-bottom: calc(var(--spacer) / 3);
  color: var(--color-secondary);
}

.highlight {
  background: var(--brand-grey-dimmed);
  padding: calc(var(--spacer) / 1.5) var(--spacer) calc(var(--spacer) / 2)
    var(--spacer);
  border-bottom: 1px solid var(--brand-grey-lighter);
  margin-left: -2rem;
  margin-right: -2rem;
}
