code {
  font-family: var(--font-family-monospace);
  font-size: var(--font-size-small);
  color: var(--font-color-text);
  text-shadow: none;
}

:not(pre) > code {
  display: inline-block;
  padding-left: 0.3rem;
  padding-right: 0.3rem;
}

pre {
  display: block;
  margin: calc(var(--spacer) / 2) 0;
  padding: calc(var(--spacer) / 2);
  background-color: var(--background-highlight) !important;
  border-radius: var(--border-radius);
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  max-height: 800px;
  width: 100%;
  position: relative;
  white-space: pre-wrap;
}

pre code {
  padding: 0;
  display: block;
  width: 100%;
}
