:root {
  --brand-white: #ffffff;
  --brand-black: #141414;
  --brand-pink: #ff4092;
  --brand-purple: #7b1173;
  --brand-violet: #e000cf;

  --brand-grey-dark: #303030;
  --brand-grey: #41474e;
  --brand-grey-light: #8b98a9;
  --brand-grey-lighter: #e2e2e2;
  --brand-grey-dimmed: #f7f7f7;

  --brand-gradient: linear-gradient(to right bottom, #7b1173, #ff4092);

  --brand-alert-green: #5fb359;
  --brand-alert-red: #d80606;
  --brand-alert-orange: #b35f36;
  --brand-alert-yellow: #eac146;

  /* Buttons */
  --color-primary: #ff4092;
  --color-secondary: #8b98a9;

  --font-family-base: 'Sharp Sans', -apple-system, BlinkMacSystemFont,
    'Segoe UI', Helvetica, Arial, sans-serif;
  --font-family-title: 'Sharp Sans Display', -apple-system, BlinkMacSystemFont,
    'Segoe UI', Helvetica, Arial, sans-serif;
  --font-family-monospace: 'Fira Code', 'Fira Mono', Menlo, Monaco, Consolas,
    'Courier New', monospace;

  --font-size-root: 16px;
  --font-size-base: 1rem;
  --font-size-large: 1.2rem;
  --font-size-small: 0.85rem;
  --font-size-mini: 0.65rem;

  --font-size-text: 1rem;
  --font-size-label: 1rem;
  --font-size-title: 1.4rem;

  --font-size-h1: 3rem;
  --font-size-h2: 1.7rem;
  --font-size-h3: 1.4rem;
  --font-size-h4: 1.2rem;
  --font-size-h5: 1.1rem;

  --font-weight-base: 400;
  --font-weight-bold: 600;
  --line-height: 1.6;

  --break-point--small: 640px;
  --break-point--medium: 860px;
  --break-point--large: 1140px;
  --break-point--huge: 1400px;

  --spacer: 2rem;
  --border-radius: 0.2rem;

  --layout-max-width: 85rem;

  --checkbox-size: 1.6em;
}
