.grid {
  display: grid;
  gap: calc(var(--spacer) * 1.5);
  position: relative;
}

@media (min-width: 55rem) {
  .grid {
    gap: calc(var(--spacer) * 3);
    /* lazy golden ratio */
    grid-template-columns: 1.618fr minmax(0, 1fr);
  }

  .sticky {
    position: sticky;
    top: calc(var(--spacer) / 2);
  }
}

.sectionTitle {
  font-size: var(--font-size-large);
  color: var(--color-secondary);
}

.meta {
  margin-bottom: var(--spacer);
  color: var(--color-secondary);
  font-weight: var(--font-weight-bold);
}

.meta p {
  margin-bottom: 0;
}

.loaderWrap {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  min-height: 70vh;
}
.buttonGroup {
  margin-top: var(--spacer);
  margin-bottom: var(--spacer);
}
