.metaFull {
  margin-top: var(--spacer);
  font-size: var(--font-size-small);
  padding: var(--spacer);
  border-radius: var(--border-radius);
  border: 1px solid var(--color-grey-light);
  display: grid;
  gap: var(--spacer);
  grid-template-columns: 1fr 1fr;
}

.metaFull code {
  /* magic number cause the code font has a bigger visual weight */
  font-size: 0.7rem;
}
