.grid {
  display: grid;
  gap: calc(var(--spacer) * 1.5);
  position: relative;
  margin-top: -1.5rem;
}

.grid > div {
  overflow: hidden;
}

.content {
  composes: box from '../../atoms/Box.module.css';
  margin-top: var(--spacer);
  position: relative;
}

@media (min-width: 60rem) {
  .grid {
    grid-template-columns: 1.5fr 1fr;
  }

  .actions {
    margin-top: var(--spacer);
  }
}

.meta {
  margin-bottom: var(--spacer);
  color: var(--color-secondary);
}

.meta p {
  margin-bottom: 0;
}

.author {
  font-weight: var(--font-weight-bold);
}

.datatoken a {
  color: var(--color-secondary);
}

.owner {
}

.buttonGroup {
  margin-top: var(--spacer);
  margin-bottom: var(--spacer);
}

/* Markdown tweaks */

.description h1 {
  font-size: var(--font-size-h3);
}

.description h2 {
  font-size: var(--font-size-h4);
}

.description h3 {
  font-size: var(--font-size-large);
}

.description h4,
.description h5 {
  font-size: var(--font-size-base);
}
