.meta {
  margin-bottom: calc(var(--spacer) / 1.5);
  color: var(--color-secondary);
}

.meta p {
  margin-bottom: 0;
}

.date {
  font-size: var(--font-size-small);
}

.typeAndDate {
  margin-bottom: calc(var(--spacer) / 12);
  display: flex;
}

.typeDetails {
  border-right: 1px solid var(--border-color);
  padding-right: calc(var(--spacer) / 3.5);
  margin-right: calc(var(--spacer) / 4);
  width: auto;
  font-size: var(--font-size-small);
}
