.metaFull {
  margin-top: var(--spacer);
  font-size: var(--font-size-small);
  display: grid;
  gap: var(--spacer);
  grid-template-columns: 1fr 1fr;
}

.metaFull code {
  /* magic number cause the code font has a bigger visual weight */
  font-size: 0.8rem;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-all;
  padding: 0;
}
