.info {
  display: flex;
  align-items: center;
  width: auto;
  margin-bottom: calc(var(--spacer) / 2);
  border-bottom: 1px solid var(--border-color);
  margin-top: -1rem;
  margin-left: -2rem;
  margin-right: -2rem;
  padding: 0 calc(var(--spacer) / 2) calc(var(--spacer) / 2)
    calc(var(--spacer) * 1.5);
}

.warning {
  padding-bottom: 0;
  border-bottom: 0;
}

.feedback {
  width: 100%;
  margin-top: calc(var(--spacer) / 2);
}

.feedback:empty {
  margin-top: 0;
}
