.removeInput {
  background: var(--background-highlight);
  padding: var(--spacer) calc(var(--spacer) * 2.5) calc(var(--spacer) * 1.2)
    calc(var(--spacer) * 2.5);
  border-bottom: 1px solid var(--border-color);
  margin-top: -2rem;
  margin-left: -2rem;
  margin-right: -2rem;
  position: relative;
  padding-left: calc(var(--spacer) * 2);
  padding-right: calc(var(--spacer) * 2);
  padding-bottom: calc(var(--spacer) / 2);
  margin-bottom: 0;
}

.range {
  margin-top: calc(var(--spacer) / 2);
  text-align: center;
}

.range h3 {
  margin-bottom: calc(var(--spacer) / 4);
}

.range input {
  width: 100%;
}

.range p {
  margin-bottom: 0;
  margin-left: -2rem;
  margin-right: -2rem;
}

.slider {
  position: relative;
  z-index: 1;
}

.maximum {
  position: absolute;
  right: 0;
  bottom: 2.5rem;
  font-size: var(--font-size-mini);
  min-width: 5rem;
  text-align: center;
}

.maximum:hover {
  transform: none;
}

.toggle {
  margin-top: calc(var(--spacer) / 2);
  margin-bottom: 0;
  font-size: var(--font-size-mini);
  margin-bottom: -2rem;
}

.output {
  composes: container from '../Section/index.module.css';
  display: grid;
  gap: var(--spacer);
  grid-template-columns: 1fr 1fr;
}

.output p {
  font-weight: var(--font-weight-bold);
  margin-bottom: calc(var(--spacer) / 8);
  font-size: var(--font-size-small);
}

.output [class*='token'] > figure {
  display: none;
}

.slippage {
  composes: slippage from '../../Trade/Slippage.module.css';
}
