.removeInput {
  composes: addInput from '../Add/index.module.css';
  padding-left: calc(var(--spacer) * 2);
  padding-right: calc(var(--spacer) * 2);
  padding-bottom: calc(var(--spacer) / 2);
}

.range {
  margin-top: calc(var(--spacer) / 2);
  text-align: center;
}

.range h3 {
  margin-bottom: calc(var(--spacer) / 4);
}

.range input {
  width: 100%;
}

.range p {
  margin-bottom: 0;
  margin-left: -2rem;
  margin-right: -2rem;
}

.slider {
  position: relative;
  z-index: 1;
}

.maximum {
  position: absolute;
  right: -2rem;
  bottom: 2rem;
  font-size: var(--font-size-mini);
  min-width: 5rem;
  text-align: center;
}

.toggle {
  margin-top: calc(var(--spacer) / 2);
  margin-bottom: 0;
  font-size: var(--font-size-mini);
  margin-bottom: -2rem;
}

.output {
  composes: output from '../Add/Output.module.css';
}

.output [class*='token'] {
  white-space: nowrap;
}

.output [class*='token'] > figure {
  display: inline-block;
}

.output figure[class*='pool shares'] {
  display: none;
}

.output p {
  font-size: var(--font-size-small);
}

.slippage {
  composes: slippage from '../../Trade/Slippage.module.css';
}
