.actions {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: var(--spacer);
}

.actions button {
  margin: 0 calc(var(--spacer) / 2);
  min-height: 40px;
}

.infoIcon {
  width: 0.85em;
  height: 0.85em;
  display: inline-block;
  margin-bottom: -0.1em;
  margin-left: calc(var(--spacer) / 6);
  fill: currentColor;
}
.infoButton {
  cursor: help !important;
  pointer-events: all !important;
}
