.app {
  height: 100%;
  background: url('../../@images/bkrnd.svg') repeat center 13.5rem;

  /* sticky footer technique */
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

@media (min-width: 2000px) {
  .app {
    background-size: contain;
  }
}

.app > * {
  width: 100%;
}

.main {
  padding: calc(var(--spacer) * 1.5) 0 calc(var(--spacer) * 2) 0;

  /* sticky footer technique */
  flex: 1;
}

.main > div[class*='Alert']:first-child {
  margin-top: -2rem;
}

.main > div[class*='Alert'] {
  margin-bottom: calc(var(--spacer) / 1.5);
}
