.meta {
  margin-left: calc(var(--spacer) * -0.75);
  margin-right: calc(var(--spacer) * -0.75);
  margin-bottom: calc(var(--spacer) / 1.5);
  color: var(--color-secondary);
  font-size: var(--font-size-small);
}

@media (min-width: 40rem) {
  .meta {
    margin-left: calc(var(--spacer) * -1);
    margin-right: calc(var(--spacer) * -1);
  }
}

.asset {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  height: calc(var(--spacer) * 2);
  border-bottom: 1px solid var(--border-color);
}
