.wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.wrapper img {
  margin: 0;
  width: 128px;
  height: 128px;
}

.info {
  padding: calc(var(--spacer) / 2);
  color: var(--color-secondary);
}

.info h5 {
  margin-bottom: 0;
}

.address {
  word-break: break-all;
}

.address button::after {
  word-break: normal;
}

.links {
  margin-top: calc(var(--spacer) / 3);
}

.links a {
  display: block;
}

.fallback {
  padding-top: calc(var(--spacer) / 3);
  font-style: italic;
}
