.searchWrap {
  display: flex;
  justify-content: center;
  margin-top: calc(var(--spacer) * var(--line-height));
}

.latest {
  margin-top: calc(var(--spacer) * 2);
}

.latest h3 {
  font-size: var(--font-size-large);
  color: var(--color-secondary);
}

.latest [class*='button'] {
  margin-top: var(--spacer);
}

.listPartners {
  composes: latest;
}

.listPartners > div {
  background: var(--background-highlight);
  padding-top: var(--spacer);
  padding-bottom: var(--spacer);
  min-height: 360px;
  margin-left: calc(-50vw + 50%);
  margin-right: calc(-50vw + 50%);
}

.loaderWrap {
  display: flex;
  justify-content: center;
  align-items: center;
}
