.wrapper {
  margin-top: calc(var(--spacer) * 3);
  position: relative;
}

.tutorial {
  margin-left: 20rem;
  padding-left: var(--spacer);
}

.toc {
  position: fixed;
  width: 20rem;
  margin-bottom: calc(var(--spacer) * 2);
  padding: var(--spacer) 0;
  border-right: 1px solid var(--brand-grey-light);
}

.chapter:first-child {
  padding-top: 0;
}

.chapter {
  padding: var(--spacer) 0;
}

.progressbar {
  position: fixed;
  top: 0;
  left: 0;
  visibility: hidden;
}
.progressbar.visible {
  visibility: visible;
}

.progressbar.loose {
  position: relative;
}
