.wrapper {
  margin-top: calc(var(--spacer) * 3);
  position: relative;
}

.tutorial {
  margin-left: 20rem;
  padding-left: var(--spacer);
}

.toc {
  position: fixed;
  width: 20rem;
  margin-bottom: calc(var(--spacer) * 2);
  padding: var(--spacer) 0;
  border-right: 1px solid var(--brand-grey-light);
}
