.inputMarkdown div:first-child {
  --color-fg-default: var(--font-color-text);
  --color-fg-muted: var(--font-color-text);
  --color-fg-subtle: var(--font-color-text);
  --color-prettylights-syntax-constant: var(--color-primary);
  --color-prettylights-syntax-keyword: var(--font-color-text);
  --color-prettylights-syntax-markup-italic: var(--font-color-text);
  --color-prettylights-syntax-markup-bold: var(--font-color-text);
  --color-prettylights-syntax-brackethighlighter-angle: var(--font-color-text);
  --color-prettylights-syntax-sublimelinter-gutter-mark: var(--font-color-text);
}

.inputMarkdown input {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.inputMarkdown div {
  background-color: transparent !important;
}

.inputMarkdownContent {
  height: 100%;
}

.inputMarkdownContent pre {
  background-color: transparent !important;
  color: var(--font-color-text) !important;
  overflow: auto !important;
  max-height: 100%;
}

.inputMarkdown button {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  margin-top: -1px;
  width: 100%;
  color: var(--font-color-text) !important;
  height: 24px !important;
}

.inputMarkdown button svg {
  width: 14px;
}

.inputMarkdownContent textarea::selection {
  -webkit-text-fill-color: var(--background-body);
}

@media screen and (min-width: 30rem) {
  .inputMarkdown {
    display: flex;
  }

  .inputMarkdown > div {
    flex: 1;
  }

  .inputMarkdown input {
    border-bottom-left-radius: var(--border-radius);
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  .inputMarkdown button {
    border-top-right-radius: var(--border-radius);
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    margin-top: 0;
    margin-left: -1px;
    width: fit-content;
    white-space: nowrap;
  }
}

.inputMarkdown > button:hover,
.inputMarkdown > button:focus {
  transform: none;
}
