.conversion {
  display: inline-block;
  font-size: var(--font-size-small);
  margin-left: calc(var(--spacer) / 6);
  color: var(--color-secondary);
  font-weight: var(--font-weight-base);
}

/* fiat currency symbol */
.conversion strong span {
  font-weight: var(--font-weight-base);
  color: var(--color-secondary);
}
