.price {
  display: inline-block;
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-large);
  color: var(--color-text-heading);
  line-height: 1.2;
}

.price > div:firt-child {
  white-space: nowrap;
}

.price span:first-child {
  font-weight: var(--font-weight-base);
  color: var(--color-secondary);
  font-size: var(--font-size-base);
}

.price.small {
  display: inline-block;
  font-size: var(--font-size-base);
}

.price.small span:first-child {
  font-size: var(--font-size-small);
}

.badge {
  vertical-align: middle;
  margin-left: calc(var(--spacer) / 6);
}
