.feedback {
  font-size: var(--font-size-small);
  display: flex;
  max-width: 100%;
  padding-left: calc(var(--spacer) / 1.5);
  position: relative;
  width: 100%;
}

.statuscontainer {
  flex-grow: 1;
}

.walletcontainer {
  width: 35%;
}

.feedback i {
  position: absolute;
  left: 0;
  top: 2px;
}

.title {
  margin-bottom: calc(var(--spacer) / 12);
  font-size: var(--font-size-base);
}

.error {
  font-style: italic;
  font-size: var(--font-size-small);
  color: var(--color-secondary);
  margin-bottom: 0;
}
