.wallet {
  text-align: right;
}

.address {
  font-family: var(--font-family-monospace);
  white-space: nowrap;
  margin-bottom: calc(var(--spacer) / 8);
}

.blockies {
  width: var(--font-size-large);
  height: var(--font-size-large);
  border-radius: 50%;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  margin-right: calc(var(--spacer) / 6);
}

.balance {
  color: var(--color-secondary);
  white-space: nowrap;
  font-size: var(--font-size-mini);
}

.balance span {
  font-size: var(--font-size-small);
  font-weight: var(--font-weight-bold);
  display: inline-block;
  margin-left: 0.1rem;
}
