.network {
  border: 1px solid var(--border-color);
  border-right: none;
  border-top-left-radius: var(--border-radius);
  border-bottom-left-radius: var(--border-radius);
  padding: calc(var(--spacer) / 4) calc(var(--spacer) / 8);
  white-space: nowrap;
  margin-right: -3px;
  display: inline-flex;
  align-items: center;
}

@media screen and (min-width: 42rem) {
  .network {
    padding: calc(var(--spacer) / 4);
  }
}

.name {
  font-size: var(--font-size-small);
}

.badge {
  margin-left: -0.25rem;
  background-color: var(--border-color);
  color: var(--font-color-text);
  font-size: calc(var(--font-size-mini) * 0.8);
}

.warning {
  margin-right: calc(var(--spacer) / 14);
}
