.tooltipStats {
  margin-bottom: calc(var(--spacer) / 3);
  padding-bottom: calc(var(--spacer) / 3);
  border-bottom: 1px solid var(--border-color);
}

.statsList {
  composes: statsList from './index.module.css';
  padding-bottom: 0;
}

.statsList,
.note {
  padding: calc(var(--spacer) / 4);
}

.note {
  margin-bottom: 0;
  padding-top: 0;
  font-size: var(--font-size-mini);
  color: var(--color-secondary);
}

.network {
  font-weight: var(--font-weight-bold);
}
