.field {
  margin-bottom: var(--spacer);
  position: relative;
}

.field[data-is-submitting] {
  pointer-events: none;
  opacity: 0.4;
}

.field .field {
  margin-bottom: calc(var(--spacer) / 2);
}

.error {
  display: inline-block;
  font-size: var(--font-size-mini);
  font-weight: var(--font-weight-bold);
  color: var(--brand-white);
  background: var(--brand-alert-red);
  border-radius: var(--border-radius);
  padding: 0 0.4rem;
  position: absolute;
  right: 0;
  bottom: -0.75rem;
  z-index: 1;
}

.hasError label {
  color: var(--brand-alert-red);
}

.hasError input,
.hasError select,
.hasError textarea {
  border-color: var(--brand-alert-red);
}
