.inputWrap,
.inputWrapSearch {
  background: var(--brand-gradient);
  border-radius: var(--border-radius);
  padding: 2px;
  display: flex;
  position: relative;
}
.inputWrap .isFocused,
.inputWrapSearch .isFocused {
  background: var(--brand-black);
}

.inputWrap > div,
.inputWrap > div > div,
.inputWrapSearch > div,
.inputWrapSearch > div > div {
  width: 100%;
}

.inputWrapSearch,
.input {
  padding-left: var(--spacer) * 1.5;
}

.inputWrapSearch svg {
  position: absolute;
  left: var(--spacer) / 2;
  width: 1.25rem;
  height: 1.25rem;
  top: 50%;
  margin-top: -0.6rem;
  fill: rgba(var(--brand-grey-light), 0.7);
}

.input,
.select {
  font-size: var(--font-size-base);
  font-family: var(--font-family-base);
  font-weight: var(--font-weight-bold);
  color: var(--brand-black);
  border: none;
  box-shadow: none;
  width: 100%;
  background: var(--brand-white);
  padding: var(--spacer) / 3;
  margin: 0;
  border-radius: var(--border-radius);
  transition: 0.2s ease-out;
  min-height: 43px;
  appearance: none;
}
.input:focus,
.select:focus {
  border: none;
  box-shadow: none;
  outline: 0;
}

.select::placeholder,
.input::placeholder {
  font-family: var(--font-family-base);
  font-size: var(--font-size-base);
  color: var(--brand-grey-light);
  font-weight: var(--font-weight-base);
  transition: 0.2s ease-out;
  opacity: 0.7;
}

.select[readonly],
.input[readonly],
.select[disabled],
.input[disabled] {
  background-color: var(--brand-grey-lighter);
  cursor: not-allowed;
  pointer-events: none;
}

.select {
  composes: input;
  height: 43px;
  padding-right: 3rem;
  border: 0;

  background-image: linear-gradient(
      45deg,
      transparent 50%,
      var(--brand-purple 50%)
    ),
    linear-gradient(135deg, var(--brand-purple) 50%, transparent 50%),
    linear-gradient(
      to right,
      var(--brand-pink) 1px,
      lighten(var(--brand-grey-lighter), 5%) 2px,
      lighten(var(--brand-grey-lighter), 5%)
    );
  background-position: calc(100% - 18px) calc(1rem + 5px),
    calc(100% - 13px) calc(1rem + 5px), 100% 0;
  background-size: 5px 5px, 5px 5px, 2.5rem 3rem;
  background-repeat: no-repeat;
}
.select:focus {
  outline: 0;
  font-family: var(--font-family-base);
}

.radioGroup {
  margin-top: var(--spacer) / 2;
  margin-bottom: -2%;

  @media screen and (min-width: var(--break-point--small)) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.radioWrap {
  position: relative;
  padding: var(--spacer) / 2;
  text-align: center;
  display: flex;
  align-items: center;
  margin-bottom: 2%;

  @media screen and (min-width: var(--break-point--small)) {
    flex: 0 0 49%;
  }
}

.radio:checked + label {
  border-color: var(--brand-pink);
}

.radioLabel {
  margin: 0;
  padding: 0;
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-small);
  line-height: 1.2;
  border: 2px solid var(--brand-grey-lighter);
  border-radius: 0.2rem;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  color: var(--brand-grey);
  text-align: left;
  padding-left: 2.5rem;
  display: flex;
  align-items: center;
}

.inputSmall {
  composes: input;
  font-size: var(--font-size-small);
  min-height: 32px;
  padding: var(--spacer) / 4;
}
.inputSmall::placeholder {
  font-size: var(--font-size-small);
}

.selectSmall {
  composes: select;
  height: 32px;
  padding-right: 2rem;
  background-position: calc(100% - 14px) 1rem, calc(100% - 9px) 1rem, 100% 0;
  background-size: 5px 5px, 5px 5px, 2rem 3rem;
}
