.emojiToolTip {
  cursor: pointer;
  white-space: nowrap;
  width: auto !important;
  flex-shrink: 0;
}

.icon {
  position: relative;
  width: var(--font-size-h3);
  height: var(--font-size-h3);
  color: var(--font-color-text);
  fill: currentColor;
}

.icon:hover,
.icon:focus {
  color: var(--color-primary);
  fill: currentColor;
}
