.feedback {
  width: 100%;
  height: 100%;
  min-height: 40vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.feedback h3 {
  font-size: var(--font-size-large);
  text-align: center;
  margin-bottom: calc(var(--spacer) / 2);
}

.feedback h3 + div {
  text-align: left;
}

@media (min-width: 40rem) {
  .feedback {
    max-width: 30rem;
    margin: 0 auto;
  }
}

.feedback [class*='loaderWrap'] {
  justify-content: center;
  text-align: center;
}

.action {
  margin-top: calc(var(--spacer) / 1.5);
}
.moreInfo {
  padding: calc(var(--spacer) / 4) calc(var(--spacer) / 2) !important;
}
