.edit ul > li[class*='Tabs_tab'] {
  padding: calc(var(--spacer) / 4) var(--spacer);
}

.edit [class*='Tabs_tabContent'] {
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
}

.grid {
  display: grid;
  gap: calc(var(--spacer) * 1.5);
  position: relative;
  margin-top: -1rem;
}

.grid > div {
  overflow: hidden;
}

.contianer {
  composes: box from '@shared/atoms/Box.module.css';
  position: relative;
}

@media (min-width: 60rem) {
  .grid {
    grid-template-columns: 1.5fr 1fr;
  }
}

.description {
  font-size: var(--font-size-large);
}

.title {
  font-size: var(--font-size-large);
  border-bottom: 1px solid var(--border-color);
  padding-bottom: calc(var(--spacer) / 2);
  margin-top: -1rem;
  margin-left: -2rem;
  margin-right: -2rem;
  padding-left: 2rem;
  padding-right: 2rem;
}
