.info {
  display: flex;
  align-items: center;
  width: auto;
  margin-bottom: var(--spacer);
  border-bottom: 1px solid var(--brand-grey-lighter);
  margin-top: -1rem;
  margin-left: -2rem;
  margin-right: -2rem;
  padding: 0 var(--spacer) calc(var(--spacer) / 2) var(--spacer);
}

.filewrapper {
  flex-shrink: 0;
}

.actions {
  margin-top: var(--spacer);
  text-align: center;
}

.feedback {
  width: 100%;
}
