.consume {
  display: flex;
  flex-wrap: wrap;
}

.info {
  display: flex;
  width: 100%;
}

.filewrapper {
  flex-shrink: 0;
}

.actions {
  width: 100%;
  margin-top: calc(var(--spacer) / 2);
}

.hasTokens {
  font-size: var(--font-size-small);
  color: var(--color-secondary);
  margin-top: calc(var(--spacer) / 4);
}
