.consume {
  display: flex;
  flex-wrap: wrap;
}

.info {
  display: flex;
  width: auto;
  padding: 0 calc(var(--spacer)) 0 calc(var(--spacer));
}

.filewrapper {
  flex-shrink: 0;
}

.feedback {
  width: 100%;
  margin-top: calc(var(--spacer));
}
