.consume {
  display: flex;
  flex-wrap: wrap;
}

.info {
  display: flex;
  width: 100%;
}

.filewrapper {
  flex-shrink: 0;
}

.pricewrapper {
  display: flex;
  flex-wrap: wrap;
}

.pricewrapper button {
  margin-top: calc(var(--spacer) / 2);
  align-self: flex-end;
}

.pricewrapper > div {
  min-height: 30px;
}

.feedback {
  width: 100%;
}
