.consume {
  display: flex;
  flex-wrap: wrap;
}

.info {
  display: flex;
  width: 100%;
}

.filewrapper {
  flex-shrink: 0;
}

.pricewrapper button {
  margin-top: var(--spacer);
}

.feedback {
  width: 100%;
}
