.actions {
  composes: box from '../../atoms/Box.module.css';
  max-width: 35rem;
  margin: auto;
  padding: 0;
}

.help {
  font-size: var(--font-size-mini);
  color: var(--color-secondary);
  margin-top: calc(var(--spacer) / 3);
}
