.conversations {
  height: 100%;
  background-color: var(--background-content);
  overflow-y: auto;
}

.conversations .empty {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--color-secondary);
}

.conversations .empty .icon {
  width: var(--font-size-h1);
  fill: currentColor;
  margin-bottom: calc(var(--spacer) / 4);
}
