.box {
  display: block;
  background: var(--background-content);
  border-radius: var(--border-radius);
  border: 1px solid var(--border-color);
  box-shadow: 0 6px 17px 0 var(--box-shadow-color);
  padding: calc(var(--spacer) / 1.5);
}

@media (min-width: 40rem) {
  .box {
    padding: var(--spacer);
  }
}

a.box:hover,
a.box:focus {
  outline: 0;
  transform: translate3d(0, -0.1rem, 0);
  box-shadow: 0 10px 25px 0 var(--box-shadow-color);
}
