.item {
  display: list-item;
  margin-top: calc(var(--spacer) / 8);
  color: var(--font-color-text);
  list-style-position: inside;
}

.ulItem {
  list-style-type: square;
}

.olItem {
  list-style-type: decimal;
}
