.tabList {
  text-align: center;
  border-bottom: 1px solid var(--border-color);
  padding: calc(var(--spacer) / 2);
  display: flex;
  justify-content: center;
}

.tab {
  display: inline-block;
  padding: calc(var(--spacer) / 12) var(--spacer);
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-small);
  text-transform: uppercase;
  cursor: pointer;
  color: var(--color-secondary);
  background-color: var(--background-body);
  border: 1px solid var(--border-color);
  margin-right: -1px;
  min-width: 90px;
}

.tab:first-child {
  border-top-left-radius: var(--border-radius);
  border-bottom-left-radius: var(--border-radius);
}

.tab:last-child {
  border-top-right-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);
}

.tab[aria-selected='true'] {
  background-color: var(--font-color-heading);
  color: var(--background-body);
  border-color: var(--font-color-heading);
}

.tab[aria-disabled='true'] {
  cursor: not-allowed;
}

.tabContent {
  padding: calc(var(--spacer) / 2);
}

@media (min-width: 40rem) {
  .tabContent {
    padding: var(--spacer);
  }
}
