.feedback {
}

.feedback li {
  display: inline-block;
  margin-bottom: var(--spacer);
  counter-increment: list-number;
}

/* inject the numbers */
.feedback li:before {
  content: counter(list-number);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  border: 1px solid var(--border-color);
  margin-right: calc(var(--spacer) / 4);
  font-weight: var(--font-weight-bold);
}

/* TODO: needs to have some spinner showing activity */
.feedback .active:before {
  color: var(--background-content);
  background: var(--font-color-heading);
  border-color: transparent;
}

.feedback .success:before {
  content: '✓';
  color: var(--brand-white);
  background: var(--brand-alert-green);
  border-color: transparent;
}

.feedback .error:before {
  content: '✕';
  color: var(--brand-white);
  background: var(--brand-alert-red);
  border-color: transparent;
}

.title {
  font-size: var(--font-size-large);
  display: inline-block;
  margin-bottom: 0;
}

.description {
  margin-left: calc(var(--spacer) * 1.3);
  color: var(--color-secondary);
}
