.actions {
  width: 100%;
  margin-top: calc(var(--spacer) / 2);
}

.actionsCenter {
  margin: auto;
  display: block;
  margin-top: -1rem;
  margin-left: -0.1rem;
}

.help {
  font-size: var(--font-size-mini);
  color: var(--color-secondary);
  margin-top: calc(var(--spacer) / 3);
}

.help:not(:empty) {
  margin-top: calc(var(--spacer) / 2);
}
