.printButton {
  display: block;
  margin: calc(var(--spacer) / 2) auto !important;
}

@media print {
  body * {
    visibility: hidden;
    box-shadow: none !important;
  }
  .profile,
  .profile *:not(.printButton) {
    visibility: visible;
  }
  .profile {
    margin: 0;
    padding: 0;
  }
  .profile div[class*='tabs'] li[class*='selected'] {
    border: 2px solid var(--border-color);
  }
}

@page {
  size: landscape;
  margin: 10mm;
}
