.app {
  height: 100%;
  background: url('../../node_modules/@oceanprotocol/art/waves/waves.svg')
    no-repeat center 10rem;

  /* sticky footer technique */
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.app > * {
  width: 100%;
}

.main {
  padding: calc(var(--spacer) * 2) 0;

  /* sticky footer technique */
  flex: 1;
}
