.links {
  width: 100%;
}

.links,
.links a {
  font-size: var(--font-size-small);
  color: var(--color-secondary);
}

.links a {
  margin-left: calc(var(--spacer) / 3);
  color: inherit;
  display: inline-block;
}

.links a:first-child {
  margin-left: 0;
}

.links a:hover,
.links a:focus {
  color: var(--brand-pink);
}

.linksExternal {
  width: 6px;
  height: 6px;
  display: inline-block;
  fill: var(--color-secondary);
}
