.coin {
  padding: var(--spacer) calc(var(--spacer) / 2);
  border-top: 1px solid var(--brand-grey-lighter);
}

.coin:last-child {
  border-left: 1px solid var(--brand-grey-lighter);
}

.icon {
  composes: box from '../../../../atoms/Box.module.css';
  padding: calc(var(--spacer) / 1.5);
  width: 6rem;
  height: 6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--brand-grey-lighter);
  border-radius: 50%;
  background-color: var(--brand-white);
  margin-bottom: calc(var(--spacer) / 2);
}

.coin:last-child .icon path {
  fill: var(--brand-violet);
}

.tokenName {
  font-size: var(--font-size-base);
  color: var(--brand-grey);
  text-align: center;
  margin-bottom: calc(var(--spacer) / 6);
}

.data {
  position: relative;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  max-width: 12rem;
  margin: auto;
}

.max {
  position: absolute;
  right: var(--spacer);
  top: calc(var(--spacer) / 2.5);
}

.weight {
  width: 100%;
  text-align: center;
  margin-bottom: calc(var(--spacer) / 2);
  text-transform: uppercase;
  font-size: var(--font-size-small);
  color: var(--color-secondary);
}

.weight strong {
  color: var(--brand-grey);
}
