.form {
  position: relative;
}

@media (min-width: 55rem) {
  .form {
    max-width: 12rem;
    margin-left: auto;
  }
}

.price {
  margin-left: -2rem;
  margin-right: -2rem;
  padding-top: var(--spacer);
  background: var(--background-highlight);
  border-top: 1px solid var(--border-color);
  border-bottom: 1px solid var(--border-color);
}

.grid {
  display: grid;
  gap: var(--spacer);
  grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
  justify-content: center;
}

.fixed label {
  display: none;
}

.datatoken {
  margin-top: calc(var(--spacer) / 2);
  color: var(--color-secondary);
  font-size: var(--font-size-small);
  font-weight: var(--font-weight-bold);
}

.datatoken h4 {
  font-size: var(--font-size-base);
  color: var(--color-secondary);
  margin: 0;
}

.datatoken strong {
  color: var(--font-color-text);
}

.firstPrice {
  font-size: var(--font-size-small);
  color: var(--color-secondary);
  text-align: center;
  margin-top: -1rem;
  padding-top: calc(var(--spacer) / 3);
  padding-bottom: calc(var(--spacer) / 3);
  border-top: 1px solid var(--border-color);
}

.firstPrice div {
  display: inline-block;
}
