.comment {
  composes: box from '@shared/atoms/Box.module.css';
  padding: 0;
  margin-top: var(--spacer);
  position: relative;
  display: flex;
  flex-direction: column;
  max-height: 720px;
}

.header {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding: calc(0.35 * var(--spacer)) var(--spacer);
  border-bottom: 1px solid var(--border-color);
  font-size: var(--font-size-h5);
  font-weight: var(--font-weight-bold);
}

.icon {
  margin: 0 1em 0 0;
  width: 1.75em;
  fill: var(--font-color-text);
}

.postBox {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding: calc(0.35 * var(--spacer)) var(--spacer);
  border-bottom: 1px solid var(--border-color);
}

.content {
  position: relative;
  overflow-y: auto;
}
