.masterPost {
  padding: calc(var(--spacer) / 2) var(--spacer);
  border-bottom: 1px solid var(--border-color);
}

.showReplies {
  cursor: pointer;
  color: var(--brand-pink);
  font-size: var(--font-size-small);
  display: inline-flex;
  justify-content: flex-start;
  gap: calc(var(--spacer) / 4);
  margin-left: calc(
    calc(var(--font-size-large) * 1.5) + calc(var(--spacer) / 2)
  );
  margin-top: calc(var(--spacer) / 2);
}

.showReplies svg {
  fill: currentColor;
  width: var(--font-size-mini);
  margin-right: calc(var(--spacer) / 8);
}

.showReplies.opened svg {
  transform: scaleY(-1);
}
