.posts {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0;
}

.loader {
  border-top: 1px solid var(--border-color);
  padding: calc(var(--spacer) / 2) var(--spacer);
}

.loadMore {
  display: flex;
  justify-content: center;
  padding: calc(var(--spacer) / 2) var(--spacer);
  border-top: 1px solid var(--border-color);
}
