.nft {
  display: grid;
  gap: var(--spacer);
  grid-template-columns: 3fr 1fr;
  margin-bottom: var(--spacer);
  align-items: center;
}

.token {
  border: 1px solid var(--border-color);
  padding: calc(var(--spacer) / 3);
  border-radius: var(--border-radius);
}

.image {
  border-radius: var(--border-radius);
  border: 1px solid var(--border-color);
}
