.empty {
  color: var(--color-secondary);
  font-style: italic;
}

.grid {
  display: grid;
}

@media (min-width: 55rem) {
  .grid {
    grid-column-gap: calc(var(--spacer) * 3);
    grid-template-columns: minmax(0, 3fr) 1fr;
    grid-template-areas:
      'search side'
      'results side';
  }

  .search {
    grid-area: search;
  }

  .side {
    grid-area: side;
    margin-top: calc(var(--spacer) * 2.5);
  }

  .results {
    grid-area: results;
  }
}
