.alert {
  composes: box from './Box.module.css';
  max-width: 40rem;
  margin: auto;
  border-width: 0;
  border-left-width: 0.5rem;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.alert,
.title {
  color: var(--brand-white);
}

.title {
  font-size: var(--font-size-large);
  margin-bottom: calc(var(--spacer) / 2);
  color: inherit;
}

.text {
  margin-bottom: 0;
}

/* States */
.error {
  border-color: var(--red);
  color: var(--red);
}

.success {
  border-color: var(--green);
  color: var(--green);
}

.info {
  border-color: var(--yellow);
  color: var(--yellow);
}

.warning {
  border-color: var(--orange);
  color: var(--orange);
}
