.icon {
  fill: currentColor;
  width: 1em;
  height: 1em;
  vertical-align: baseline;
  margin-bottom: -0.1em;
  display: inline-block;
}

.typeLabel {
  display: inline-block;
  text-transform: uppercase;
  border-left: 1px solid var(--border-color);
  padding-left: calc(var(--spacer) / 3.5);
  margin-left: calc(var(--spacer) / 4);
}
