.badge {
  display: inline-block;
  font-size: var(--font-size-mini);
  font-weight: var(--font-weight-bold);
  line-height: 1;
  text-transform: uppercase;
  padding: 0.1rem 0.2rem;
  border-radius: var(--border-radius);
  color: var(--brand-white);
  background: var(--brand-purple);
  vertical-align: top;
}
