.actions {
  width: 100%;
  margin-top: calc(var(--spacer) / 2);
}

.help {
  font-size: var(--font-size-mini);
  color: var(--color-secondary);
  margin-top: calc(var(--spacer) / 3);
}

.help:not(:empty) {
  margin-top: calc(var(--spacer) / 2);
}

.connectivitywrapper {
  display: inline-block;
  font-size: var(--font-size-mini);
  cursor: help;
}

.status {
  transform: scale(0.7);
  transform-origin: bottom;
}
.text {
  margin-left: calc(var(--spacer) / 12);
}
