.item {
  display: list-item;
  margin-top: calc(var(--spacer) / 8);
  color: var(--brand-grey);
  list-style-position: inside;
}

.item span {
  color: var(--brand-grey-dark);
}

.ulItem {
  list-style-type: square;
}

.olItem {
  list-style-type: decimal;
}
