.logo {
  width: 2rem;
  height: 2rem;
  margin: 0;
}

.branding {
  width: 5rem;
  height: auto;
}

.logo path {
  fill: var(--font-color-heading);
}

a > .logo:hover path {
  fill: var(--color-primary);
}

.branding path {
  fill: var(--color-primary);
}

@media screen and (min-width: 55rem) {
  .branding {
    width: 7.5rem;
  }
}
