.network {
  text-transform: capitalize;
  display: inline-flex;
  align-items: center;
  color: var(--color-secondary);
}

.icon {
  display: inline-block;
  width: 1.2em;
  height: 1.2em;
  fill: currentColor;
  margin-right: calc(var(--spacer) / 8);
}
