.price {
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-large);
  color: var(--brand-grey-dark);
}

.price span {
  font-weight: var(--font-weight-base);
  color: var(--color-secondary);
  font-size: var(--font-size-base);
}

.small {
  transform: scale(0.7);
  transform-origin: left 80%;
}
