.publisher {
  margin: 0;
  display: inline-block;
}

@media (min-width: 40rem) {
  .links {
    display: inline;
  }
}

.links a,
.links span {
  margin-left: calc(var(--spacer) / 3);
  color: inherit;
  font-size: var(--font-size-mini);
}

.links a:first-child,
.links span:first-child {
  margin-left: 0;
}

.links a:hover,
.links a:focus {
  color: var(--brand-pink);
}

.linksExternal,
.detailsTrigger svg {
  width: 0.6rem;
  height: 0.6rem;
  display: inline-block;
  fill: var(--color-secondary);
}

.details {
}

.detailsTrigger {
  cursor: help;
}

.profile {
  background: var(--background-highlight);
  border-radius: var(--border-radius);
  padding: calc(var(--spacer) / 2);
  margin-bottom: calc(var(--spacer) / 4);
}

.profile p {
  margin-bottom: calc(var(--spacer) / 4);
}

.profile code {
  padding: 0;
  color: var(--color-secondary);
  font-size: var(--font-size-mini);
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
}

.title {
  font-size: var(--font-size-base);
  margin-bottom: calc(var(--spacer) / 4);
}

.profile p:last-child {
  margin-bottom: 0;
}

.ids {
  margin-top: calc(var(--spacer) / 4);
}

.meta {
  color: var(--color-secondary);
  font-size: var(--font-size-mini);
  text-align: right;
}
