.publisher {
  margin: 0;
  display: inline-block;
}

@media (min-width: 40rem) {
  .links {
    display: inline;
  }
}

.links a {
  margin-left: calc(var(--spacer) / 3);
  color: inherit;
  font-size: var(--font-size-mini);
}

.links a:first-child {
  margin-left: 0;
}

.links a:hover,
.links a:focus {
  color: var(--brand-pink);
}

.linksExternal {
  width: 0.6em;
  height: 0.6em;
  display: inline-block;
  fill: var(--brand-grey-light);
}
