.scrollButton {
  position: fixed;
  right: var(--spacer);
  bottom: var(--spacer);
  min-width: auto;
  padding: 0 calc(var(--spacer) / 2);
  opacity: 0;
  pointer-events: none;
  transition: all 0.2s ease-in-out;
}

.scrollButton.visible {
  opacity: 1;
  pointer-events: all;
}
