/*
SEE: https://codepen.io/AllThingsSmitty/pen/MmxxOz
*/

.switch {
  display: inline-block;
  height: var(--checkbox-size);
  position: relative;
  width: calc(var(--checkbox-size) * 2);
}

.switch input {
  display: none;
}

.slider {
  background-color: var(--brand-grey-light);
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: 0.3s;
  border-radius: 34px;
}

.slider:before {
  background-color: var(--brand-grey-lighter);
  bottom: 2px;
  content: '';
  height: calc(var(--checkbox-size) - 4px);
  left: 2px;
  position: absolute;
  transition: 0.4s;
  width: calc(var(--checkbox-size) - 4px);
  border-radius: 50%;
}

input:checked + .slider {
  background-color: var(--brand-pink);
}

input:checked + .slider:before {
  transform: translateX(var(--checkbox-size));
}

.container {
  height: var(--checkbox-size);
}

.container.small {
  height: calc(var(--checkbox-size) / 1.25);
}
.small .switch {
  height: calc(var(--checkbox-size) / 1.25);
  width: calc(var(--checkbox-size) * 1.6);
}
.small .slider:before {
  height: calc(var(--checkbox-size) / 1.25 - 4px);
  width: calc(var(--checkbox-size) / 1.25 - 4px);
}
.small input:checked + .slider:before {
  transform: translateX(calc(var(--checkbox-size) / 1.25));
}
