.table div {
  background-color: transparent !important;
}

.table [role='table'],
.table [role='row'] {
  color: var(--font-color-text);
  font-size: var(--font-size-small);
}

.table [class~='rdt_TableCol'] {
  border-bottom: 1px solid var(--border-color);
}

.table [role='columnheader'] {
  text-transform: uppercase;
  color: var(--color-secondary);
  font-size: var(--font-size-small);
}

.table [role='row']:not(:last-of-type) {
  border-color: var(--border-color);
}

.table + div [class*='rdt_Pagination'] {
  font-size: var(--font-size-small);
  color: var(--color-secondary);
  background: none;
}

.table + div [class*='rdt_Pagination'] svg {
  fill: var(--color-secondary);
}

.table + div [class*='rdt_Pagination'] [disabled] svg {
  fill: var(--background-highlight);
}

.table + div [class*='rdt_Pagination'] button:hover:not(:disabled) {
  background: none;
}

.table + div [class*='rdt_Pagination'] button:hover:not(:disabled) svg {
  fill: var(--brand-pink);
}

.empty {
  width: 100%;
  text-align: left;
  color: var(--color-secondary);
  font-size: var(--font-size-small);
  font-style: italic;
}
