.table div {
  background-color: transparent !important;
}

.table [role='table'],
.table [role='row'] {
  color: var(--font-color-text);
  font-size: var(--font-size-small);
  min-width: 0;
}

.table [class~='rdt_TableCol'] {
  border-bottom: 1px solid var(--border-color);
}

.table [role='columnheader'] {
  text-transform: uppercase;
  font-size: var(--font-size-small);
}

.table [role='columnheader'] > span,
.table [role='columnheader'] > div {
  color: var(--color-secondary);
}

.table [role='row']:not(:last-of-type) {
  border-color: var(--border-color);
}

.table + div [class*='rdt_Pagination'] {
  font-size: var(--font-size-small);
  font-weight: var(--font-weight-bold);
  color: var(--color-secondary);
  background: none;
  min-height: 0;
  padding-top: calc(var(--spacer) / 2);
}

.table + div [class*='rdt_Pagination'] svg {
  fill: var(--color-secondary);
}

.table + div [class*='rdt_Pagination'] [disabled] svg {
  fill: var(--background-highlight);
}

.table + div [class*='rdt_Pagination'] button:hover:not(:disabled) {
  background: none;
}

.table + div [class*='rdt_Pagination'] button:hover:not(:disabled) svg {
  fill: var(--brand-pink);
}

.table + div [class*='rdt_Pagination'] button[aria-label='First Page'],
.table + div [class*='rdt_Pagination'] button[aria-label='Last Page'] {
  display: none;
}

.empty {
  width: 100%;
  text-align: left;
  color: var(--color-secondary);
  font-size: var(--font-size-small);
  font-style: italic;
}

.arrow {
  composes: arrow from '../molecules/Pagination.module.css';
}

.previous {
  composes: previous from '../molecules/Pagination.module.css';
}
