.tabList {
  text-align: center;
  border-bottom: 1px solid var(--border-color);
  padding-top: calc(var(--spacer) / 2);
  padding-bottom: calc(var(--spacer) / 2);
}

.tab {
  display: inline-block;
  padding: calc(var(--spacer) / 12) var(--spacer);
  border-radius: var(--border-radius);
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-small);
  text-transform: uppercase;
  cursor: pointer;
  color: var(--color-secondary);
}

.tab[aria-selected='true'] {
  background: var(--font-color-heading);
  color: var(--background-body);
}

.tabContent {
  padding: var(--spacer);
}
