.teaser {
  max-width: 50rem;
  height: 100%;
}

.link {
  composes: box from '../atoms/Box.module.css';
  font-size: var(--font-size-small);
  height: 100%;
  color: var(--color-secondary);
  position: relative;
  /* for sticking footer to bottom */
  display: flex;
  flex-direction: column;
}

.content {
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-all;

  /* for sticking footer to bottom */
  flex: 1;
}

.title {
  font-size: var(--font-size-large);
  margin-bottom: calc(var(--spacer) / 4);
}

.foot {
  font-weight: var(--font-weight-bold);
  margin-top: calc(var(--spacer) / 2);
}

.foot p {
  margin: 0;
}

.accessLabel {
  font-size: var(--font-size-mini);
  width: auto;
  position: absolute;
  top: 0;
  right: 0;
  color: var(--brand-black);
  background: var(--brand-grey-lighter);
  padding: 0.2rem 0.5rem;
  border-bottom-left-radius: var(--border-radius);
}
