.teaser {
  max-width: 40rem;
  height: 100%;
}

.link {
  composes: box from '../atoms/Box.module.css';
  font-size: var(--font-size-small);
  height: 100%;
  color: var(--color-secondary);
  position: relative;
  /* for sticking footer to bottom */
  display: flex;
  flex-direction: column;
}

.algorithm .link {
  background-color: var(--background-body);
}

.content {
  margin-top: calc(var(--spacer) / 2);
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-all;

  /* for sticking footer to bottom */
  flex: 1;
}

.content p {
  margin-bottom: calc(var(--spacer) / 4);
}

.title {
  font-size: var(--font-size-large);
  margin: 0;
  padding-bottom: calc(var(--spacer) / 6);
}

.publisher {
  display: block;
}

.foot {
  margin-top: calc(var(--spacer) / 4);
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.foot p {
  margin: 0;
}

.typeLabel {
  font-size: var(--font-size-mini);
  text-transform: uppercase;
  width: auto;
  position: absolute;
  top: calc(var(--spacer) / 4);
  right: calc(var(--spacer) / 3);
}

.symbol {
  display: block;
}

.date {
  font-size: var(--font-size-mini);
  margin-top: calc(var(--spacer) / 2);
}
