.wrapper {
  display: inline-block;
  font-size: var(--font-size-mini);
}

.text {
  margin-left: calc(var(--spacer) / 12);
  color: var(--brand-alert-red);
}

.status,
.info {
  transform: scale(0.7);
  transform-origin: bottom;
}

.info svg {
  margin-left: calc(var(--spacer) / 12);
}
