.description {
  font-size: var(--font-size-small);
}

.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: calc(var(--spacer) / 3);
}

.header div[class*='radioGroup'] {
  width: 100%;
  text-align: right;
}

.header label {
  position: absolute;
  left: 0;
  padding: 0;
}

.wrapper {
  display: block;
  margin: var(--spacer) 0;
}
