.metaGrid {
  border-radius: var(--border-radius);
  display: grid;
  gap: calc(var(--spacer) / 2);
  grid-template-columns: 1fr 1fr;
}

.metaRow {
  padding-top: calc(var(--spacer) / 2);
  border-radius: var(--border-radius);
  display: grid;
  gap: calc(var(--spacer) / 2);
  grid-template-columns: auto;
}
