.stats {
  margin-bottom: calc(var(--spacer) / 2);
  font-size: var(--font-size-small);
  line-height: 2;
}

li:last-child {
  margin-bottom: calc(var(--spacer) * 2);
}

.stats > div > div {
  display: inline-block;
}

.total {
  color: var(--color-secondary) !important;
  font-size: var(--font-size-small) !important;
}

.info {
  width: 0.85rem;
}
