.menu {
  width: 100%;
  padding: calc(var(--spacer) / 2);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.logo {
  white-space: nowrap;
  display: flex;
  align-items: center;
  order: 1;
}

.navigation {
  order: 3;
  width: 50%;
  margin-top: calc(var(--spacer) / 2);
  text-align: center;
  border-top: 1px solid var(--border-color);
  border-bottom: 1px solid var(--border-color);
  margin-left: -1rem;
  margin-right: -1rem;
  width: calc(50% + 2rem);
}
.search {
  order: 2;
  margin-top: calc(var(--spacer) / 2);
  text-align: center;
  margin-left: 10rem;
  margin-right: 10rem;
}

.actions {
  display: flex;
  align-self: flex-start;
  margin-left: auto;
  order: 2;
}

.title {
  display: none;
}

@media screen and (min-width: 42rem) {
  .navigation {
    order: 2;
    width: auto;
    margin: 0;
    text-align: left;
    border: none;
  }
}

@media screen and (min-width: 55rem) {
  .menu {
    padding: var(--spacer);
  }

  .title {
    margin: 0;
    margin-right: var(--spacer);
    display: block;
    color: var(--color-secondary);
    font-size: var(--font-size-h4);
  }
}

.navigation {
  white-space: nowrap;
  overflow-y: hidden;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: none;
}

.navigation::-webkit-scrollbar,
.navigation::-moz-scrollbar {
  display: none;
}

.navigation li {
  display: inline-block;
  vertical-align: middle;
  margin-right: calc(var(--spacer) / 3);
  margin-left: calc(var(--spacer) / 3);
}

.link {
  display: block;
  padding: calc(var(--spacer) / 4) calc(var(--spacer) / 2);
  text-transform: uppercase;
  color: var(--color-secondary);
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-base);
  position: relative;
  z-index: 1;
}

.actions,
.link:hover,
.link:focus,
.link:active {
  color: var(--brand-grey);
}

.link[aria-current],
.link[aria-current]:hover,
.link[aria-current]:focus {
  color: var(--font-color-heading);
}

.link:last-child {
  padding-right: 0;
}

.logo svg {
  margin-right: calc(var(--spacer) / 3);
}

.actions button {
  text-transform: none;
}
