.menu {
}

.link {
  display: inline-block;
  color: var(--brand-grey);
  font-weight: var(--font-weight-bold);
  margin: calc(var(--spacer) / 4) var(--spacer);
}

.link:hover,
.link:focus,
.link:active {
  color: var(--brand-pink);
}

.link.active {
  color: var(--brand-pink);
}

.link:first-child {
  margin-left: 0;
}

.link:last-child {
  margin-right: 0;
}
