.menu {
  width: 100%;
  padding: calc(var(--spacer) / 2);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.logo {
  white-space: nowrap;
  display: flex;
  flex: 0 0 auto;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.navigation {
  width: auto;
  margin: 0;
  text-align: left;
  border: none;
}

.search {
  display: flex;
  flex: 1 0 auto;
  justify-content: center;
  align-items: center;
  align-self: flex-start;
  margin-left: auto;
  max-width: 18rem;
}

.actions {
  display: flex;
  flex: 0 0 auto;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-self: flex-start;
}

.title {
  display: none;
}

@media (max-width: 38rem) {
  .actions {
    margin-left: auto;
  }
  .navigation {
    order: 3;
    display: block;
    justify-content: center;
    align-items: center;
    margin-top: calc(var(--spacer) / 2);
    text-align: center;
    border-top: 1px solid var(--border-color);
    border-bottom: 1px solid var(--border-color);
    margin-left: -1rem;
    margin-right: -1rem;
    width: calc(50% + 2rem);
  }
}

@media (max-width: 75rem) {
  .navigation {
    flex: 1 0 auto;
    justify-content: left;
    align-items: left;
  }
  .search {
    flex: 0 0 100%;
    padding-top: 10px;
    order: 4;
  }
}

@media screen and (min-width: 42rem) {
  .navigation {
    width: auto;
    margin: 0;
    text-align: left;
    border: none;
  }
}

@media screen and (min-width: 55rem) {
  .menu {
    padding: var(--spacer);
  }

  .title {
    margin: 0;
    margin-right: var(--spacer);
    display: block;
    color: var(--color-secondary);
    font-size: var(--font-size-h4);
  }
}

.navigation {
  white-space: nowrap;
  overflow-y: hidden;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: none;
}

.navigation::-webkit-scrollbar,
.navigation::-moz-scrollbar {
  display: none;
}

.navigation li {
  display: inline-block;
  vertical-align: middle;
  margin-right: calc(var(--spacer) / 3);
  margin-left: calc(var(--spacer) / 3);
}

.link {
  display: block;
  padding: calc(var(--spacer) / 4) calc(var(--spacer) / 2);
  text-transform: uppercase;
  color: var(--color-secondary);
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-base);
  position: relative;
  z-index: 1;
}

.actions,
.link:hover,
.link:focus,
.link:active {
  color: var(--brand-grey);
}

.link[aria-current],
.link[aria-current]:hover,
.link[aria-current]:focus {
  color: var(--font-color-heading);
}

.link:last-child {
  padding-right: 0;
}

.logo svg {
  margin-right: calc(var(--spacer) / 3);
}

.actions button {
  text-transform: none;
}
