.menu {
  width: 100%;
}

.menu > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: calc(var(--spacer) / 2);
  padding-bottom: calc(var(--spacer) / 2);
}

.logoUnit {
  display: flex;
  align-items: center;
}

.logoUnit svg {
  fill: var(--color-primary);
  width: 4rem;
  height: 4rem;
  margin-left: -0.5rem;
  margin-right: 0.5rem;
}

.logoUnit path {
  fill: var(--brand-black);
}

.logoUnit:hover path {
  fill: var(--brand-pink);
}

.title {
  display: none;
}

@media screen and (min-width: 40rem) {
  .title {
    margin: 0;
    display: block;
    color: var(--color-secondary);
    font-size: var(--font-size-h4);
  }
}

.navigation {
  white-space: nowrap;
  overflow-y: hidden;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}

.navigation::-webkit-scrollbar,
.navigation::-moz-scrollbar {
  display: none;
}

.navigation li {
  display: inline-block;
  vertical-align: middle;
  margin-left: var(--spacer);
}

@media screen and (min-width: 60rem) {
  .navigation li {
    margin-left: calc(var(--spacer) * 2);
  }
}

.navigation button,
.link {
  display: block;
  padding: calc(var(--spacer) / 2);
  text-transform: uppercase;
  color: var(--brand-grey-light);
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-base);
  position: relative;
  z-index: 1;
}

.navigation button {
  text-transform: none;
  padding-top: calc(var(--spacer) / 4);
  padding-bottom: calc(var(--spacer) / 4);
}

.link:hover,
.link:focus,
.link:active {
  color: var(--brand-grey);
}

.link[aria-current],
.link[aria-current]:hover,
.link[aria-current]:focus {
  color: var(--brand-black);
}

.link:last-child {
  padding-right: 0;
}
