.title {
  line-height: var(--line-height);
  margin: 0;
}

.title a {
  font-size: var(--font-size-base);
  color: var(--brand-black);
}

.empty {
  font-size: var(--font-size-small);
  color: var(--color-secondary);
  font-style: italic;
}
