.search {
  display: flex;
  width: 100%;
}

.button {
  color: var(--color-secondary);
  padding: calc(var(--spacer) / 4) calc(var(--spacer) / 3);
  cursor: pointer;
  border: 1px solid var(--border-color);
  border-top-right-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);
  background-color: transparent;
  border-left: none;
  white-space: nowrap;
  transition: border 0.2s ease-out;
}

.button:hover,
.button:focus {
  color: var(--brand-white);
}

.input {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-right: 0;
  background-color: transparent;
  height: auto !important;
  padding-top: calc(var(--spacer) / 3.5);
  padding-bottom: calc(var(--spacer) / 3.5);
}

.input:focus + .button {
  border-color: var(--font-color-text);
}

.searchIcon {
  fill: currentColor;
  transition: 0.2s ease-out;
  width: var(--font-size-h5);
  height: var(--font-size-h5);
}
