.sync {
  display: inline-block;
  font-size: var(--font-size-mini);
  cursor: help;
}

.text {
  margin-left: calc(var(--spacer) / 12);
}

.status {
  transform: scale(0.7);
  transform-origin: bottom;
}
