.chapter {
  padding: var(--spacer) 0;
  scroll-margin-top: 80px;
}

.chapter:first-child {
  padding-top: 0;
}

.progressbar {
  position: fixed;
  top: 0;
  left: 0;
  visibility: hidden;
}
.progressbar.visible {
  visibility: visible;
}

.progressbar.loose {
  position: relative;
}

.chapter:first-child {
  padding-top: 0;
}

.interactive {
  display: flex;
  justify-content: center;
  margin-top: calc(var(--spacer) * 2);
}
