.box {
  composes: box from '../atoms/Box.module.css';
  max-width: 35rem;
  margin: calc(var(--spacer) / 2) auto;
  padding: calc(var(--spacer));
}

.content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.image {
  height: 30px;
  margin-right: calc(var(--spacer));
}

.title {
  font-size: var(--font-size-base);
  margin-bottom: calc(var(--spacer) / 4);
}
