.feedback {
  font-size: var(--font-size-small);
  padding-left: var(--spacer);
  padding-top: calc(var(--spacer) / 1.5);
  margin-top: calc(var(--spacer) / 2);
  position: relative;
  width: 100%;
}

.feedback i {
  position: absolute;
  left: 0;
  top: calc(var(--spacer) / 1.45);
}

.title {
  margin-bottom: calc(var(--spacer) / 12);
  font-size: var(--font-size-base);
}

.error {
  font-size: var(--font-size-small);
  color: var(--color-secondary);
  margin-bottom: 0;
}
