.arrayField {
  position: relative;
}

.arrayField > section {
  margin-bottom: 0;
}

.addButton {
  margin-top: calc(var(--spacer) / 4);
}

.error {
  border-color: var(--color-primary);
  text-transform: capitalize;
}
