.results {
  composes: asset from './Details.module.css';
  border-bottom-left-radius: var(--border-radius) !important;
}

.help {
  margin-top: calc(var(--spacer) / 3);
}

.result {
  cursor: pointer;
}
