.grid {
  display: grid;
  gap: calc(var(--spacer) * 1.5);
  position: relative;
}

@media (min-width: 55rem) {
  .grid {
    /* lazy golden ratio */
    grid-template-columns: 1.618fr 1fr;
  }

  .sticky {
    position: sticky;
    top: var(--spacer);
  }
}

.content {
  margin-top: var(--spacer);
}

.historyTabs [class*='tabList'] {
  text-align: start;
  border-bottom: 0;
}

.historyTabs [class*='tabContent'] {
  padding: 0;
  padding-top: calc(var(--spacer) / 2);
}
