.content {
  margin-top: var(--spacer);
  background-color: var(--background-body);
}

.content ul[class*='tabList'] {
  background-color: var(--background-content);
  border: 1px solid var(--border-color);
  border-bottom: 0;
  border-top-left-radius: var(--border-radius);
  border-top-right-radius: var(--border-radius);
  white-space: nowrap;
  overflow-y: hidden;
  overflow-x: auto;
}

.content div[class*='tabContent'] {
  border: 1px solid var(--border-color);
  padding-bottom: 0;
}

.content div[class*='tab-panel--selected'] {
  margin-bottom: var(--spacer);
}
