.totalLiquidity {
  margin-bottom: 0;
  font-weight: var(--font-weight-base) !important;
  font-size: var(--font-size-small);
  padding-left: var(--font-size-base);
}

.totalLiquidity strong {
  font-size: var(--font-size-base);
  color: var(--font-color-text);
  line-height: 1;
}

.poolSharesTable [role='gridcell'] {
  align-items: flex-start;
  margin: calc(var(--spacer) / 2) 0;
}

.poolSharesTable [class*='AssetListTitle-module--title'] {
  line-height: 0;
}

@media (min-width: 30rem) {
  .poolSharesTable [class*='AssetListTitle-module--title'] {
    line-height: 0;
  }
}

.yourLiquidity {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.yourLiquidity [class*='Conversion-module--'] {
  margin-bottom: calc(var(--spacer) / 8);
}

.yourLiquidity [class*='Conversion-module--'] strong {
  font-size: var(--font-size-base);
}

.yourLiquidity [class*='Token-module--token'] {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-bottom: calc(var(--spacer) / 8);
}

.yourLiquidity [class*='Token-module--token'] div {
  font-size: var(--font-size-small);
}

.yourLiquidity [class*='Token-module--icon'] {
  display: none;
}
