.footer {
  padding: var(--spacer) calc(var(--spacer) / 2) calc(var(--spacer) * 2.5);
  margin-left: auto;
  margin-right: auto;
  max-width: var(--layout-max-width);
  color: var(--brand-grey-light);
  font-size: var(--font-size-small);
}

.footer a,
.footer button {
  color: inherit;
}

.footer button {
  text-transform: none;
  transform: none !important;
  font-weight: var(--font-weight-normal);
}

.footer a:hover,
.footer a:focus,
.footer button:hover,
.footer button:focus {
  color: var(--color-primary);
}

.copyright > div,
.copyright > div > p {
  display: inline;
}

.copyright,
.grid > div:first-child {
  text-align: center;
}

.grid {
  display: grid;
  gap: var(--spacer);
}

@media (min-width: 40rem) {
  .grid {
    display: grid;
    gap: var(--spacer);
    grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
  }

  .grid > div:first-child {
    text-align: left;
  }

  .copyright {
    text-align: right;
  }
}
.grid a {
  text-transform: none;
  font-family: var(--font-family-base);
  font-weight: var(--font-weight-base);
}

.svg {
  display: inline;
  fill: currentColor;
  width: 0.6em;
  height: 0.6em;
}
