.terms {
  composes: content from '@shared/Page/PageMarkdown.module.css';

  padding: calc(var(--spacer) / 2);
  border: 1px solid var(--border-color);
  background-color: var(--background-highlight);
  border-radius: var(--border-radius);
  margin-bottom: calc(var(--spacer) / 2);
  font-size: var(--font-size-small);

  max-height: 250px;
  /* smooth overflow scrolling for pre-iOS 13 */
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

.terms h1 {
  font-size: var(--font-size-base);
  margin-bottom: calc(var(--spacer) / 2);
}

.terms h2 {
  font-size: var(--font-size-small);
  margin-bottom: calc(var(--spacer) / 2);
}
