.button {
  position: relative;
  font-family: var(--font-family-base);
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-small);
  border: none;
  padding: calc(var(--spacer) / 6) var(--spacer);
  white-space: nowrap;
  background: var(--background-content);
  margin: 0;
  transition: border 0.2s ease-out;
  cursor: pointer;
  height: 100%;
  display: flex;
  align-items: center;
}

.button,
.address {
  color: var(--color-primary);
  z-index: 1;
}

.button.initial {
  color: var(--color-primary);
}

.button:hover,
.button:focus {
  transform: none;
  outline: 0;
  color: var(--brand-white);
}

.button:before,
.button:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.button:before {
  transform: scaleX(0);
  transform-origin: 0 50%;
  background-color: var(--color-primary);
  transition: transform 0.2s;
  z-index: -1;
}

.button:hover:before {
  transform: scaleX(1);
}

.button:after {
  opacity: 1;
  z-index: -1;
  margin: 0;
  border: 2px solid var(--border-color-menu);
  border-radius: var(--border-radius-menu);
}

.button.initial span {
  display: none;
}

@media screen and (min-width: 42rem) {
  .button.initial span {
    display: inline;
  }
}

.blockies {
  width: var(--font-size-large);
  height: var(--font-size-large);
  border-radius: 50%;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
}

.address {
  display: none;
  text-transform: none;
  border-right: 1px solid var(--border-color);
  padding-right: calc(var(--spacer) / 3);
}

@media screen and (min-width: 60rem) {
  .address {
    display: inline-block;
  }

  .blockies {
    margin-right: calc(var(--spacer) / 6);
  }
}

.button svg {
  width: 1em;
  height: 1em;
  fill: var(--border-color);
  display: inline-block;
  vertical-align: middle;
  margin-left: calc(var(--spacer) / 3);
  transition: transform 0.2s ease-out;
}

[aria-expanded='true'] .button svg {
  transform: rotate(180deg);
}

.status {
  margin-left: calc(var(--spacer) / 4);
  position: relative;
  top: 1px;
}

.caret,
svg.caret {
  display: none;
}

@media screen and (min-width: 42rem) {
  .caret,
  svg.caret {
    display: inline-block;
  }
}
