.wallet {
  border: 1px solid var(--brand-grey-lighter);
  border-radius: var(--border-radius);
  padding: calc(var(--spacer) / 8) calc(var(--spacer) / 4);
}

.address {
  font-size: var(--font-size-small);
  font-family: var(--font-family-monospace);
  white-space: nowrap;
  margin-bottom: calc(var(--spacer) / 8);
}

.blockies {
  width: var(--font-size-large);
  height: var(--font-size-large);
  border-radius: 50%;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  margin-right: calc(var(--spacer) / 6);
}
