.details {
  composes: box from '../../atoms/Box.module.css';
  padding: calc(var(--spacer) / 2) !important;
  min-width: 20rem;
  max-width: 25rem;
}

.details > ul {
  margin-bottom: calc(var(--spacer) / 4);
}

.balance {
  color: var(--color-secondary);
  white-space: nowrap;
  font-size: var(--font-size-small);
}

.balance span {
  font-size: var(--font-size-base);
  font-weight: var(--font-weight-bold);
  display: inline-block;
  margin-left: 0.1rem;
}
