.network {
  border: 2px solid var(--border-color-menu);
  border-right: none;
  border-top-left-radius: var(--border-radius-menu);
  border-bottom-left-radius: var(--border-radius-menu);
  padding: calc(var(--spacer) / 6) calc(var(--spacer) / 3);
  white-space: nowrap;
  margin-right: -3px;
  display: inline-flex;
  align-items: center;
}

.name {
  font-size: var(--font-size-small);
}

.badge {
  margin-left: calc(var(--spacer) / 8);
  background-color: var(--border-color);
  color: var(--font-color-text);
}

.warning {
  margin-right: calc(var(--spacer) / 4);
}
