.title {
  font-size: var(--font-size-base);
  margin-bottom: calc(var(--spacer) / 3);
  color: var(--color-secondary);
}

.titlePostfix {
  font-size: var(--font-size-mini);
  font-family: var(--font-family-base);
  font-weight: var(--font-weight-base);
  display: inline-block;
  margin-left: 0.3rem;
}
