.tokenlist {
  margin-left: -2rem;
  margin-right: -2rem;
  padding: calc(var(--spacer) / 1.5) calc(var(--spacer) / 1.5)
    calc(var(--spacer) / 2) calc(var(--spacer) / 1.5);
  border-top: 1px solid var(--border-color);
  position: relative;
}

@media (min-width: 40rem) {
  .tokenlist {
    padding-left: var(--spacer);
    padding-right: var(--spacer);
  }
}

.tokenlist.highlight {
  background: var(--background-highlight);
}

.tokens {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(10rem, 1fr));
}

.title {
  composes: title from './index.module.css';
}

.totalLiquidity {
  composes: token from './Token.module.css';
  margin-bottom: 0;
  font-weight: var(--font-weight-base) !important;
  font-size: var(--font-size-small);
  padding-left: var(--font-size-base);
  padding-top: calc(var(--spacer) / 10);
}

.totalLiquidity strong {
  font-size: var(--font-size-base);
  color: var(--font-color-heading);
  line-height: 1;
}
