.network {
  text-transform: capitalize;
  display: inline-flex;
  align-items: center;
  color: var(--color-secondary);
}

.icon {
  display: inline-block;
  margin-right: calc(var(--spacer) / 8);
  width: 1em;
  height: 1em;
  margin-top: -0.25em;
  fill: currentColor;
}

.minimal {
  position: relative;
}

.minimal .name {
  opacity: 0;
  width: 0;
}

.minimal:hover .name {
  width: auto;
  opacity: 1;
}
