.chip {
  display: flex;
  margin-top: 5px;
  margin-bottom: 5px;
}

.input {
  font-size: var(--font-size-base);
  font-family: var(--font-family-base);
  font-weight: var(--font-weight-bold);
  color: var(--font-color-heading);
  border: 1px solid var(--border-color);
  box-shadow: none;
  width: 100%;
  background: var(--background-body);
  padding: calc(var(--spacer) / 3);
  margin: 0;
  border-radius: var(--border-radius);
  transition: 0.2s ease-out;
  height: 43px;
  min-width: 0;
  appearance: none;
  display: block;
}

.crossButton svg {
  display: inline-block;
  width: var(--font-size-large);
  height: var(--font-size-large);
  fill: var(--brand-pink);
  transform: rotate(90deg);
}
