.chip {
  border: 1px solid var(--border-color);
  display: flex;
  padding-left: 10px;
  height: 43px;
}

.chipItem {
  margin-top: 10px;
}

.buttonWrapper {
  width: 100%;
  text-align: right;
}

.crossButton {
  min-width: 0;
}

.crossButton svg {
  display: inline-block;
  width: var(--font-size-large);
  height: var(--font-size-large);
  fill: var(--brand-pink);
  vertical-align: middle;
  margin-top: 10px;
  margin-right: 8px;
}

.scroll {
  border-top: 1px solid var(--border-color);
  min-height: fit-content;
  max-height: 215px;
  position: relative;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

.credential {
  padding: 0;
  border: 1px solid var(--border-color);
  background-color: var(--background-highlight);
  border-radius: var(--border-radius);
  font-size: var(--font-size-small);
  min-height: 215px;
}
