.assetCarousel [class*='alice-carousel__dots-item'] {
  width: var(--font-size-mini);
  height: var(--font-size-mini);
  background: var(--color-secondary);
  border: 1px solid var(--font-color-heading);
  background: none;
}

.assetCarousel [class*='alice-carousel__dots-item']:hover,
.assetCarousel [class*='alice-carousel__dots-item __active'] {
  background: var(--font-color-heading) !important;
}

.assetCarousel [class='alice-carousel__wrapper'] {
  padding-bottom: calc(var(--spacer) / 2);
}

.assetCarousel [class='alice-carousel__stage'] > li article {
  margin-left: calc(var(--spacer) / 2);
  margin-right: calc(var(--spacer) / 2);
}

.assetCarousel [class='alice-carousel__dots'] {
  margin-top: calc(var(--spacer) / 2);
}

.assetCarousel [class*='alice-carousel__stage-item'] *,
.assetCarousel [class*='alice-carousel__stage-item'] {
  line-height: var(--line-height);
}

.empty {
  color: var(--color-secondary);
  font-size: var(--font-size-small);
  font-style: italic;
}
