.assetList {
  display: grid;
  grid-template-columns: 1fr;
  gap: calc(var(--spacer) / 2);
}

@media screen and (min-width: 25rem) {
  .assetList {
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    gap: var(--spacer);
  }
}

.assetList.overflow {
  display: flex;
  white-space: nowrap;
  overflow-y: hidden;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  padding-bottom: var(--spacer);

  /* full-width break out of container */
  margin-left: calc(-50vw + 50%);
  margin-right: calc(-50vw + 50%);
  padding-left: calc(50vw - 50%);
}

.assetList.overflow li {
  white-space: normal;
  margin-right: var(--spacer);
  min-width: 23rem;
}

.empty {
  color: var(--color-secondary);
  font-size: var(--font-size-small);
  font-style: italic;
}
