.compute {
  composes: box from '../atoms/Box.module.css';
  display: flex;
  flex-wrap: wrap;
}

.jobButtonWrapper {
  margin-top: var(--spacer);
}

.feedback {
  width: 100%;
  margin-top: var(--spacer);
}

.compute button {
  margin-left: var(--spacer);
}

.compute button:first {
  margin-left: 0px;
}

.info {
  margin-top: var(--spacer);
  display: flex;
  flex-direction: column;
  width: 100%;
}
