.jobButtonWrapper {
  margin-top: var(--spacer);
}
.selectType {
  width: 100%;
  margin-bottom: var(--spacer);
}
.feedback {
  width: 100%;
  margin-top: var(--spacer);
  padding-top: var(--spacer);
  border-top: 1px solid var(--color-secondary);
}

.compute {
  display: flex;
  flex-wrap: wrap;
  padding: calc(var(--spacer) * 1.5);
}
.compute button {
  margin-left: var(--spacer);
}
.compute button:first {
  margin-left: 0px;
}
.price {
  padding-bottom: calc(var(--spacer) * 1.5);
}

.info {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-top: calc(var(--spacer) * 0.5);
  padding-bottom: var(--spacer);
  border-top: 1px solid var(--color-secondary);
}
