.jobButtonWrapper {
  margin-top: var(--spacer);
}

.feedback {
  width: 100%;
  margin-top: var(--spacer);
  padding-top: var(--spacer);
  border-top: 1px solid var(--color-secondary);
}

.compute {
  composes: box from '../atoms/Box.module.css';
  display: flex;
  flex-wrap: wrap;
}
.compute button {
  margin-left: var(--spacer);
}
.compute button:first {
  margin-left: 0px;
}
.price {
  font-size: var(--font-size-h2);
  /* padding-bottom: var(--spacer); */
}

.info {
  display: flex;
  flex-direction: column;
  width: 100%;
  /* padding-top: calc(var(--spacer) * 0.5);
  padding-bottom: var(--spacer);
  border-top: 1px solid var(--color-secondary); */
}
