.consume {
  composes: box from '../atoms/Box.module.css';
  display: flex;
  flex-wrap: wrap;
  max-width: 35rem;
  margin: auto;
}

.info {
  display: flex;
  width: 100%;
}

.filewrapper {
  flex-shrink: 0;
}

.consume button {
  margin-left: calc(var(--spacer) / 4);
}

.consume button:first-of-type {
  margin-left: 0;
}

.price {
  margin-top: calc(var(--spacer) / 4);
  margin-bottom: calc(var(--spacer) / 2);
}

.feedback {
  width: 100%;
  margin-top: calc(var(--spacer) * 1.5);
}
