.footer {
  color: var(--brand-grey-light);
  font-size: var(--font-size-small);
  text-align: center;
}

.content {
  padding: calc(var(--spacer) / 2);
  margin-left: auto;
  margin-right: auto;
  max-width: var(--layout-max-width);
}

.content p {
  display: inline;
}

.content a {
  color: inherit;
}

.content a:hover,
.content a:focus {
  color: var(--color-primary);
}

.commitId {
  display: inline-block;
  font-size: var(--font-size-mini);
  margin-bottom: var(--spacer);
  font-family: var(--font-family-monospace);
}
