.publisher {
  margin: 0;
}

@media (min-width: 32rem) {
  .publisher {
    display: inline-block;
  }
}

.links {
  display: inline;
}

.links a,
.links span {
  margin-left: calc(var(--spacer) / 3);
  font-size: var(--font-size-mini);
}

.links a:first-child,
.links span:first-child {
  margin-left: 0;
}

.links a:hover,
.links a:focus {
  color: var(--brand-pink);
}

.linksExternal {
  width: 6px;
  height: 6px;
  display: inline-block;
  fill: var(--color-secondary);
}

.detailsTrigger {
  cursor: help;
}

.detailsTrigger svg {
  width: 10px;
  height: 10px;
  position: relative;
  bottom: -1px;
}
