.profile {
  background: var(--background-highlight);
  border-radius: var(--border-radius);
  padding: calc(var(--spacer) / 2);
  margin: calc(var(--spacer) / 4);
}

.profile p {
  margin-bottom: calc(var(--spacer) / 4);
}

.profile code {
  padding: 0;
  color: var(--color-secondary);
  font-size: var(--font-size-mini);
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
}

.header {
  margin-bottom: calc(var(--spacer) / 4);
  text-align: center;
}

.header::after {
  content: '';
  display: block;
  margin: calc(var(--spacer) / 2) auto;
  width: 20%;
  height: 2px;
  background: var(--border-color);
}

.image {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  overflow: hidden;
  display: inline-block;
  margin-bottom: calc(var(--spacer) / 4);
  border: 1px solid var(--border-color);
  box-shadow: 0 6px 17px 0 var(--box-shadow-color);
}

.title {
  font-size: var(--font-size-base);
  margin-bottom: 0;
}

.description {
  font-size: var(--font-size-small);
}

.profile p:last-child {
  margin-bottom: 0;
}

.meta {
  color: var(--color-secondary);
  font-size: var(--font-size-mini);
  text-align: right;
  margin-left: calc(var(--spacer) / 4);
  margin-right: calc(var(--spacer) / 4);
}
