.details {
}

.profile {
  background: var(--background-highlight);
  border-radius: var(--border-radius);
  padding: calc(var(--spacer) / 2);
  margin-bottom: calc(var(--spacer) / 4);
}

.profile p {
  margin-bottom: calc(var(--spacer) / 4);
}

.profile code {
  padding: 0;
  color: var(--color-secondary);
  font-size: var(--font-size-mini);
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
}

.header {
  margin-bottom: calc(var(--spacer) / 4);
}

.title {
  font-size: var(--font-size-base);
  margin-bottom: 0;
}

.profile p:last-child {
  margin-bottom: 0;
}

.ids {
  margin-top: calc(var(--spacer) / 4);
}

.meta {
  color: var(--color-secondary);
  font-size: var(--font-size-mini);
  text-align: right;
}

.linksExternal {
  composes: linksExternal from './index.module.css';
}
