.links,
.links a {
  font-size: var(--font-size-small);
  color: var(--color-secondary);
}

.links a {
  margin-left: calc(var(--spacer) / 3);
  color: inherit;
}

.links a:first-child {
  margin-left: 0;
}

.links a:hover,
.links a:focus {
  color: var(--brand-pink);
}

.linksExternal {
  composes: linksExternal from './index.module.css';
  width: 6px;
  height: 6px;
}
