.wrapper {
  margin-top: calc(var(--spacer) * 5);
  position: relative;
}

.toc {
  line-height: 50px;
  background-color: var(--background-body);
  padding-right: 15px;
  margin-bottom: calc(var(--spacer) / 2);
  position: sticky;
  position: -webkit-sticky;
  top: 7px;
}

.toc h3 {
  text-align: center;
}

.hamburger {
  background-color: var(--background-body);
  width: 100vw;
  padding-top: calc(var(--spacer) / 2);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: sticky;
  position: -webkit-sticky;
  top: 7px;
  z-index: 99;
}

.open {
  height: 100vh;
}

.tocDesktop {
  display: none;
}

.compute {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

@media screen and (min-width: 40rem) {
  .toc {
    display: none;
  }
  .hamburger {
    display: none;
  }
  .tutorial {
    width: 75%;
  }

  .tocDesktop {
    display: block;
    position: sticky;
    position: -webkit-sticky;
    top: 4rem;
    background-color: transparent;
    width: 25%;
    height: fit-content;
    margin-right: calc(var(--spacer));
    border-right: 1px solid var(--brand-grey-light);
  }

  .tocDesktop li {
    margin: calc(var(--spacer) / 2);
  }

  .wrapper {
    display: flex;
  }
}
