.wrapper {
  margin-top: calc(var(--spacer) * 5);
  position: relative;
}

.tutorial {
  padding-left: var(--spacer);
}

.toc {
  height: calc(100vh-);
  line-height: 50px;
  background-color: white;
  padding-right: 15px;
  margin-bottom: calc(var(--spacer) / 2);
  position: sticky;
  position: -webkit-sticky;
  top: 7px;
}

.toc h3 {
  text-align: center;
}

.hamburger {
  background-color: var(--background-body);
  width: 100vw;
  padding-top: calc(var(--spacer) / 2);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: sticky;
  position: -webkit-sticky;
  top: 7px;
  z-index: 99;
}

.open {
  height: 100vh;
}

.toc2 {
  display: none;
}

.compute {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

@media screen and (min-width: 40rem) {
  .toc {
    display: none;
  }
  .hamburger {
    display: none;
  }
  .tutorial {
    margin-left: 15rem;
  }

  .toc2 {
    display: block;
    position: fixed;
    top: 38vh;
    background-color: transparent;
    width: 15rem;
    margin-bottom: calc(var(--spacer) * 2);
    margin-right: 2rem;
    padding: var(--spacer) 0;
    border-right: 1px solid var(--brand-grey-light);
  }
}
