.app {
  height: 100%;

  /* sticky footer technique */
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.app > * {
  width: 100%;
}

.main {
  padding: calc(var(--spacer) * 2) calc(var(--spacer) / 1.5);
  margin-left: auto;
  margin-right: auto;
  max-width: var(--layout-max-width);

  /* sticky footer technique */
  flex: 1;
}
