.form {
  composes: box from '@shared/atoms/Box.module.css';
  margin-bottom: var(--spacer);
}

@media (min-width: 40rem) {
  .form {
    padding-left: calc(var(--spacer) * 2);
    padding-right: calc(var(--spacer) * 2);
  }
}

@media (min-width: 60rem) {
  .form {
    padding-left: calc(var(--spacer) * 4);
    padding-right: calc(var(--spacer) * 4);
  }
}

.fieldWarning {
  margin-top: -2rem;
  margin-bottom: var(--spacer);
}
