.dateRange {
  display: flex;
}

.separator {
  margin: 0 var(--spacer);
  height: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: var(--font-size-base);
}

.checkbox {
  composes: checkbox from '../../molecules/Form/FieldTemplate.module.css';
  margin-top: calc(var(--spacer) / 8);
}

.label {
  composes: label from '../../molecules/Form/FieldTemplate.module.css';
  font-size: var(--font-size-small);
}
