.form {
  composes: box from '../../../atoms/Box.module.css';
  padding: 0;
  border: none;
}

.fieldRadio {
  composes: field from '../../../atoms/Input/index.module.css';
  max-height: 12rem;
  overflow-y: auto;
}

.actions {
  margin-left: -2rem;
  margin-right: -2rem;
  display: flex;
  justify-content: center;
  max-height: 100%;
}

.actions a,
.actions button {
  margin-left: calc(var(--spacer) / 2);
  margin-right: calc(var(--spacer) / 2);
}
