.form {
  padding: 0;
  border: none;
}

.actions {
  margin-left: -2rem;
  margin-right: -2rem;
  display: flex;
  justify-content: center;
  max-height: 100%;
}

.actions a,
.actions button {
  margin-left: calc(var(--spacer) / 2);
  margin-right: calc(var(--spacer) / 2);
}
