.preview {
  font-size: var(--font-size-small);
  margin-top: calc(var(--spacer) / 2);
  margin-bottom: var(--spacer);
  margin-left: calc(var(--spacer) / -4);
  margin-right: calc(var(--spacer) / -4);

  /* Disable all user actions as to not run into unintended
  consequences of browsing away from publish. */
  pointer-events: none;
}

@media (min-width: 60rem) {
  .preview {
    margin-left: calc(var(--spacer) * -3);
    margin-right: calc(var(--spacer) * -3);
  }
}

.previewTitle {
  font-size: var(--font-size-small);
  text-transform: uppercase;
  color: var(--color-secondary);
  margin-bottom: calc(var(--spacer) / 2);
}

.assetTitle {
  margin-bottom: calc(var(--spacer) / 1.5);
}
