name: 'Deploy'

on:
  push:
    branches:
      - main

jobs:
  s3:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
      - run: npm ci

      - run: npm run build
        env:
          GATSBY_NETWORK: ${{ secrets.GATSBY_NETWORK }}
          GATSBY_INFURA_PROJECT_ID: ${{ secrets.GATSBY_INFURA_PROJECT_ID }}
          GATSBY_PORTIS_ID: ${{ secrets.GATSBY_PORTIS_ID }}

      - run: npm run deploy:s3
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          AWS_DEFAULT_REGION: ${{ secrets.AWS_DEFAULT_REGION }}
