.cost {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.cost label {
  width: 100%;
}

.cost input {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.prefix {
  border: 1px solid var(--brand-grey-lighter);
  min-height: 43px;
  display: flex;
  align-items: center;
  padding-left: calc(var(--spacer) / 2);
  padding-right: calc(var(--spacer) / 2);
  color: var(--color-secondary);
  font-size: var(--font-size-small);
  margin-right: -2px;
  border-top-left-radius: var(--border-radius);
  border-bottom-left-radius: var(--border-radius);
}
