.dynamic {
  composes: content from './index.module.css';
}

.wallet {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: calc(var(--spacer) / 2);
}

.balance {
  text-align: center;
  font-size: var(--font-size-small);
  border: 1px solid var(--brand-grey-lighter);
  border-right: 0;
  margin-right: -3px;
  padding: calc(var(--spacer) / 4.5) calc(var(--spacer) / 2);
  border-top-left-radius: var(--border-radius);
  border-bottom-left-radius: var(--border-radius);
  color: var(--color-secondary);
}

.balance strong {
  color: var(--brand-grey);
}

.title {
  font-size: var(--font-size-base);
  margin-top: var(--spacer);
  margin-bottom: 0;
  color: var(--color-secondary);
  text-align: center;
  padding-bottom: calc(var(--spacer) / 3);
}

.tokens {
  display: grid;

  margin-left: -2rem;
  margin-right: -2rem;
  border-bottom: 1px solid var(--brand-grey-lighter);
}

@media screen and (min-width: 40rem) {
  .tokens {
    grid-template-columns: 1fr 1fr;
  }
}

.summary {
  text-align: center;
  margin-top: var(--spacer);
}

.summary input {
  max-width: 5rem;
}

.alertArea {
  margin-left: -2rem;
  margin-right: -2rem;
  padding: var(--spacer) calc(var(--spacer) / 2);
  padding-bottom: 0;
  margin-top: var(--spacer);
}
