.fees {
  display: grid;
  gap: var(--spacer);
  grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
  margin-left: -2rem;
  margin-right: -2rem;
  border-bottom: 1px solid var(--brand-grey-lighter);
  margin-top: var(--spacer);
  padding: 0 var(--spacer) calc(var(--spacer) / 2) var(--spacer);

  justify-content: center;
  text-align: center;
  border-bottom: 1px solid var(--brand-grey-lighter);
}

.fees label {
  white-space: nowrap;
}

.fees input {
  max-width: 5rem;
}
