.fixed {
  composes: content from './index.module.css';
}

@media (min-width: 55rem) {
  .form {
    max-width: 12rem;
    margin-left: auto;
  }
}

.grid {
  margin-top: var(--spacer);
  display: grid;
  gap: var(--spacer);
  grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
  justify-content: center;
}

.fixed label {
  display: none;
}

.datatoken {
  margin-top: calc(var(--spacer) / 6);
  color: var(--color-secondary);
  font-size: var(--font-size-small);
  font-weight: var(--font-weight-bold);
}

.datatoken h4 {
  font-size: var(--font-size-small);
  color: var(--color-secondary);
  margin: 0;
}

.datatoken strong {
  color: var(--brand-grey-dark);
}
