.fixed {
  composes: content from './index.module.css';
}

.form {
  max-width: 12rem;
  margin-left: auto;
  margin-right: auto;
}

.grid {
  margin-top: var(--spacer);
  display: grid;
  gap: var(--spacer);
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  justify-content: center;
}

.fixed label {
  display: none;
}

.datatoken {
  color: var(--color-secondary);
  font-size: var(--font-size-small);
  font-weight: var(--font-weight-bold);
  white-space: nowrap;
}

.datatoken strong {
  color: var(--brand-grey);
}
