.price {
  border: 1px solid var(--brand-grey-lighter);
  background: var(--brand-grey-dimmed);
  border-radius: var(--border-radius);
}

.content {
  padding: 0 calc(var(--spacer) / 2);
}

.content label {
  color: var(--color-secondary);
}

.content input {
  max-width: 6rem;
  text-align: center;
}

.content p {
  margin-bottom: 0;
}

.conversion {
  display: block;
  padding-left: 5rem;
  margin-top: calc(var(--spacer) / 6);
}

.help {
  text-align: center;
  margin-bottom: var(--spacer);
  border-bottom: 1px solid var(--brand-grey-lighter);
  padding-bottom: var(--spacer);
}
